In [1]:
# importing required libraries

import pandas as pd

In [2]:
# importing the combined CSV Data
raw = pd.read_csv('../Data/01_raw/CombinedData.csv')
raw.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 344119 entries, 0 to 344118
Data columns (total 31 columns):
 #   Column                                         Non-Null Count   Dtype
---  ------                                         --------------   -----
 0   Index                                          344119 non-null  int64
 1   Source.Name                                    344119 non-null  object
 2   DataExtractionDate                             344119 non-null  object
 3   FileSrNo                                       344119 non-null  int64
 4   Stu Term                                       344119 non-null  int64
 5   Unnamed: 1                                     344119 non-null  object
 6   Stu Admit Term                                 344119 non-null  int64
 7   Unnamed: 3                                     344119 non-null  object
 8   Record ID                                      344118 non-null  object
 9   Stu Visa Type                                  188674 non-null  object
 10  Stu Attribute BAM                              344119 non-null  object
 11  Stu Admit Type                                 344119 non-null  object
 12  Stu Primary Degree Level                       344119 non-null  object
 13  Stu Primary Major 1 College                    344119 non-null  object
 14  Stu Primary Program                            344119 non-null  object
 15  Stu Primary Program Code                       344119 non-null  object
 16  Stu Primary Department                         344119 non-null  object
 17  Unnamed: 14                                    344119 non-null  object
 18  Stu New/Returning Ind                          344119 non-null  object
 19  Stu Residency Group                            344119 non-null  object
 20  Course Sect College                            344119 non-null  object
 21  Stu Registered Ind                             344119 non-null  object
 22  Registration Status                            344119 non-null  object
 23  Registration Status Date                       344119 non-null  object
 24  Course Desc                                    344119 non-null  object
 25  Course Section                                 344119 non-null  object
 26  Course Sect Schedule Type                      344119 non-null  object
 27  Course Sect Instruction Delivery Method Group  344119 non-null  object
 28  Course Sect Wiley Courses Ind                  344119 non-null  object
 29  Course Sect Credits                            344119 non-null  object
 30  Stu Course Registered Hours                    344119 non-null  int64
dtypes: int64(5), object(26)
memory usage: 81.4+ MB

In [3]:
raw.head()

,Index,Source.Name,DataExtractionDate,FileSrNo,Stu Term,Unnamed: 1,Stu Admit Term,Unnamed: 3,Record ID,Stu Visa Type,...,Stu Registered Ind,Registration Status,Registration Status Date,Course Desc,Course Section,Course Sect Schedule Type,Course Sect Instruction Delivery Method Group,Course Sect Wiley Courses Ind,Course Sect Credits,Stu Course Registered Hours
0,1,CEC Graduate Registrations for DAEN Capstone_0...,1/1/2018,0,201810,Spring 2018,201210,Spring 2012,CEC2514,NaN,...,Y,**Web Registered**,11/10/2017,ECE 590,ECE 590 001,Lecture,F2F,'--,3,3
1,2,CEC Graduate Registrations for DAEN Capstone_0...,1/1/2018,1,201810,Spring 2018,201210,Spring 2012,CEC2514,NaN,...,Y,**Web Registered**,11/10/2017,ECE 590,ECE 590 003,Lec/Sem #1,F2F,'--,3,3
2,3,CEC Graduate Registrations for DAEN Capstone_0...,1/1/2018,2,201810,Spring 2018,201210,Spring 2012,CEC2514,NaN,...,Y,**Web Registered**,11/10/2017,ECE 699,ECE 699 001,Lecture,F2F,'--,3,3
3,4,CEC Graduate Registrations for DAEN Capstone_0...,1/1/2018,3,201810,Spring 2018,201270,Fall 2012,CEC10,NaN,...,Y,**Web Registered**,11/20/2017,ECE 521,ECE 521 001,Lecture,F2F,'--,3,3
4,5,CEC Graduate Registrations for DAEN Capstone_0...,1/1/2018,4,201810,Spring 2018,201270,Fall 2012,CEC10,NaN,...,Y,**Web Registered**,11/20/2017,ECE 587,ECE 587 002,Lecture,F2F,'--,3,3

# Extracting the important features from the dataset

In [4]:
# list of columns to filter

filered_columns = [
    'Index', 'DataExtractionDate', 'Unnamed: 1', 'Unnamed: 3', 'Record ID',
    'Stu Visa Type', 'Stu Primary Program', 'Stu New/Returning Ind',
    'Stu Residency Group', 'Course Sect College', 'Stu Registered Ind',
    'Registration Status', 'Registration Status Date', 'Course Desc',
    'Course Section', 'Course Sect Schedule Type',
    'Course Sect Instruction Delivery Method Group', 'Course Sect Wiley Courses Ind',
    'Course Sect Credits', 'Stu Course Registered Hours'
    ]

In [5]:
df = raw[filered_columns]

In [6]:
# renaming the columns

df.rename( columns={
    'Index': 'index',
    'DataExtractionDate': 'data_extraction_date',
    'Unnamed: 1': 'registration_term',
    'Unnamed: 3': 'admission_term',
    'Record ID': 'student_id',
    'Stu Visa Type': 'visa_type',
    'Stu Primary Program': 'program',
    'Stu New/Returning Ind': 'new_returning',
    'Stu Residency Group': 'residency',
    'Course Sect College': 'college',
    'Stu Registered Ind': 'active_registration',
    'Registration Status': 'registration_status',
    'Registration Status Date': 'registration_status_date',
    'Course Desc': 'course',
    'Course Section': 'section',
    'Course Sect Schedule Type': 'schedule',
    'Course Sect Instruction Delivery Method Group': 'instruction_delivery',
    'Course Sect Wiley Courses Ind': 'wiley_courses',
    'Course Sect Credits': 'credits',
    'Stu Course Registered Hours': 'registered_hours'
}, inplace=True)

df.info()

C:\Users\sgoswam\AppData\Local\Temp\ipykernel_11816\2420801680.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.rename( columns={

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 344119 entries, 0 to 344118
Data columns (total 20 columns):
 #   Column                    Non-Null Count   Dtype
---  ------                    --------------   -----
 0   index                     344119 non-null  int64
 1   data_extraction_date      344119 non-null  object
 2   registration_term         344119 non-null  object
 3   admission_term            344119 non-null  object
 4   student_id                344118 non-null  object
 5   visa_type                 188674 non-null  object
 6   program                   344119 non-null  object
 7   new_returning             344119 non-null  object
 8   residency                 344119 non-null  object
 9   college                   344119 non-null  object
 10  active_registration       344119 non-null  object
 11  registration_status       344119 non-null  object
 12  registration_status_date  344119 non-null  object
 13  course                    344119 non-null  object
 14  section                   344119 non-null  object
 15  schedule                  344119 non-null  object
 16  instruction_delivery      344119 non-null  object
 17  wiley_courses             344119 non-null  object
 18  credits                   344119 non-null  object
 19  registered_hours          344119 non-null  int64
dtypes: int64(2), object(18)
memory usage: 52.5+ MB

In [9]:
df['visa_type'].fillna('Unknown', inplace=True)

C:\Users\sgoswam\AppData\Local\Temp\ipykernel_11816\1914008537.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['visa_type'].fillna('Unknown', inplace=True)

In [13]:
# changing datatype of columns

df['data_extraction_date'] = pd.to_datetime(df['data_extraction_date'])
df['visa_type'] = df['visa_type'].astype('category')
df['program'] = df['program'].astype('category')
df['new_returning'] = df['new_returning'].astype('category')
df['residency'] = df['residency'].astype('category')
df['college'] = df['college'].astype('category')
df['active_registration'] = df['active_registration'].astype('category')
df['registration_status'] = df['registration_status'].astype('category')
df['registration_status_date'] = pd.to_datetime(df['registration_status_date'])
df['schedule'] = df['schedule'].astype('category')
df['instruction_delivery'] = df['instruction_delivery'].astype('category')
df['wiley_courses'] = df['wiley_courses'].astype('category')
df['credits'] = df['credits'].astype('category')
df['registered_hours'] = df['registered_hours'].astype('category')

df.info()

C:\Users\sgoswam\AppData\Local\Temp\ipykernel_11816\536516861.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['data_extraction_date'] = pd.to_datetime(df['data_extraction_date'])
C:\Users\sgoswam\AppData\Local\Temp\ipykernel_11816\536516861.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['visa_type'] = df['visa_type'].astype('category')
C:\Users\sgoswam\AppData\Local\Temp\ipykernel_11816\536516861.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['program'] = df['program'].astype('category')
C:\Users\sgoswam\AppData\Local\Temp\ipykernel_11816\536516861.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['new_returning'] = df['new_returning'].astype('category')
C:\Users\sgoswam\AppData\Local\Temp\ipykernel_11816\536516861.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['residency'] = df['residency'].astype('category')
C:\Users\sgoswam\AppData\Local\Temp\ipykernel_11816\536516861.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['college'] = df['college'].astype('category')
C:\Users\sgoswam\AppData\Local\Temp\ipykernel_11816\536516861.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['active_registration'] = df['active_registration'].astype('category')
C:\Users\sgoswam\AppData\Local\Temp\ipykernel_11816\536516861.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['registration_status'] = df['registration_status'].astype('category')
C:\Users\sgoswam\AppData\Local\Temp\ipykernel_11816\536516861.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['registration_status_date'] = pd.to_datetime(df['registration_status_date'])
C:\Users\sgoswam\AppData\Local\Temp\ipykernel_11816\536516861.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['schedule'] = df['schedule'].astype('category')
C:\Users\sgoswam\AppData\Local\Temp\ipykernel_11816\536516861.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['instruction_delivery'] = df['instruction_delivery'].astype('category')
C:\Users\sgoswam\AppData\Local\Temp\ipykernel_11816\536516861.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['wiley_courses'] = df['wiley_courses'].astype('category')
C:\Users\sgoswam\AppData\Local\Temp\ipykernel_11816\536516861.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['credits'] = df['credits'].astype('category')
C:\Users\sgoswam\AppData\Local\Temp\ipykernel_11816\536516861.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['registered_hours'] = df['registered_hours'].astype('category')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 344119 entries, 0 to 344118
Data columns (total 20 columns):
 #   Column                    Non-Null Count   Dtype
---  ------                    --------------   -----
 0   index                     344119 non-null  int64
 1   data_extraction_date      344119 non-null  datetime64[ns]
 2   registration_term         344119 non-null  object
 3   admission_term            344119 non-null  object
 4   student_id                344118 non-null  object
 5   visa_type                 344119 non-null  category
 6   program                   344119 non-null  category
 7   new_returning             344119 non-null  category
 8   residency                 344119 non-null  category
 9   college                   344119 non-null  category
 10  active_registration       344119 non-null  category
 11  registration_status       344119 non-null  category
 12  registration_status_date  344119 non-null  datetime64[ns]
 13  course                    344119 non-null  object
 14  section                   344119 non-null  object
 15  schedule                  344119 non-null  category
 16  instruction_delivery      344119 non-null  category
 17  wiley_courses             344119 non-null  category
 18  credits                   344119 non-null  category
 19  registered_hours          344119 non-null  category
dtypes: category(12), datetime64[ns](2), int64(1), object(5)
memory usage: 24.9+ MB

In [24]:
df[df.isnull().any(1)]

C:\Users\sgoswam\AppData\Local\Temp\ipykernel_11816\1040708776.py:1: FutureWarning: In a future version of pandas all arguments of DataFrame.any and Series.any will be keyword-only.
  df[df.isnull().any(1)]

,index,data_extraction_date,registration_term,admission_term,student_id,visa_type,program,new_returning,residency,college,active_registration,registration_status,registration_status_date,course,section,schedule,instruction_delivery,wiley_courses,credits,registered_hours
27028,27029,2019-01-15,Spring 2019,Spring 2019,NaN,Unknown,MS Data Analytics Engineering,N,VA,COS,Y,**Web Registered**,2019-01-10,PHYS 711,PHYS 711 002,Lecture,F2F,N,3,3

In [29]:
df.head()

,index,data_extraction_date,registration_term,admission_term,student_id,visa_type,program,new_returning,residency,college,active_registration,registration_status,registration_status_date,course,section,schedule,instruction_delivery,wiley_courses,credits,registered_hours
0,1,2018-01-01,Spring 2018,Spring 2012,CEC2514,NaN,MS Computer Engineering,R,VA,VSE,Y,**Web Registered**,2017-11-10,ECE 590,ECE 590 001,Lecture,F2F,'--,3,3
1,2,2018-01-01,Spring 2018,Spring 2012,CEC2514,NaN,MS Computer Engineering,R,VA,VSE,Y,**Web Registered**,2017-11-10,ECE 590,ECE 590 003,Lec/Sem #1,F2F,'--,3,3
2,3,2018-01-01,Spring 2018,Spring 2012,CEC2514,NaN,MS Computer Engineering,R,VA,VSE,Y,**Web Registered**,2017-11-10,ECE 699,ECE 699 001,Lecture,F2F,'--,3,3
3,4,2018-01-01,Spring 2018,Fall 2012,CEC10,NaN,MS Electrical Engineering,R,VA,VSE,Y,**Web Registered**,2017-11-20,ECE 521,ECE 521 001,Lecture,F2F,'--,3,3
4,5,2018-01-01,Spring 2018,Fall 2012,CEC10,NaN,MS Electrical Engineering,R,VA,VSE,Y,**Web Registered**,2017-11-20,ECE 587,ECE 587 002,Lecture,F2F,'--,3,3