# Initialization
This file connects to the un-normalized Enrollment Data and performs some basic EDA on the data.

In [1]:
# importing the required libraries
import os
import pandas as pd
import matplotlib.pyplot as plt

os.chdir( os.path.join("..", "..", "..") )

from Code.src.modules.db_ops import *

# Importing the Data
## SQL Database
Using enrollment4EDA.db as the database file

In [2]:
# configuring the sql connection and query execution
db_enrollment = ConnectDB( os.path.join("Data", "02_processed", "enrollment4EDA.db") )

In [3]:
# example test query
db_enrollment.runQuery("""
    SELECT rec_id, stu_id
    FROM enrollment4EDA
    LIMIT 5;
""")

   rec_id   stu_id
0       0  CEC3286
1       1  CEC3289
2       2   CEC865
3       3   CEC865
4       4   CEC901

## Pandas Dataframe

In [4]:
df_enrollment = pd.read_pickle( os.path.join("Data", "02_processed", "enrollment.pkl") )

In [5]:
df_enrollment.head()

,rec_id,rec_ext_date,file_name,file_index,reg_term_code,reg_term_year,reg_term_name,reg_term_desc,stu_id,stu_deg_level,...,crs_type,crs_credits,crs_hours,crs_sect,crs_sect_clg,crs_sect_modality,crs_sect_wiley_ind,reg_status,reg_status_date,stu_act_reg_ind
0,0,2017-05-01,Data\01_raw\EnrollmentData\CEC Graduate Regist...,5,201770,2017,Fall,Fall 2017,CEC3286,Master,...,Lecture,3,3.0,INFS 640 001,VSE,F2F,No Value,**Web Registered**,2017-04-11,Y
1,1,2017-05-01,Data\01_raw\EnrollmentData\CEC Graduate Regist...,6,201770,2017,Fall,Fall 2017,CEC3289,Master,...,Lecture,3,3.0,SWE 619 002,VSE,F2F,No Value,**Web Registered**,2017-04-11,Y
2,2,2017-05-01,Data\01_raw\EnrollmentData\CEC Graduate Regist...,10,201770,2017,Fall,Fall 2017,CEC865,Master,...,Lecture,3,3.0,CEIE 639 001,VSE,F2F,No Value,**Web Registered**,2017-04-11,Y
3,3,2017-05-01,Data\01_raw\EnrollmentData\CEC Graduate Regist...,11,201770,2017,Fall,Fall 2017,CEC865,Master,...,Lecture,3,3.0,CEIE 679 001,VSE,F2F,No Value,**Web Registered**,2017-04-11,Y
4,4,2017-05-01,Data\01_raw\EnrollmentData\CEC Graduate Regist...,12,201770,2017,Fall,Fall 2017,CEC901,Master,...,Lecture,3,3.0,SWE 645 001,VSE,F2F,No Value,**Web Registered**,2017-04-11,Y

# EDA