In [1]:
# importing the required libraries
import os
import pandas as pd
import matplotlib.pyplot as plt

os.chdir( os.path.join("..","..","..") )

from Code.src.modules.db_ops import *

In [2]:
#connecting to a sql database
# configuring the sql connection and query execution
db_enrollment = ConnectDB( os.path.join("Data", "02_processed", "enrollment4EDA.db") )

In [3]:
# example test query
db_enrollment.runQuery("""
    SELECT rec_id, stu_id
    FROM enrollment4EDA
    LIMIT 5;
""")

   rec_id   stu_id
0       0  CEC3286
1       1  CEC3289
2       2   CEC865
3       3   CEC865
4       4   CEC901