In [2]:
# importing the required libraries
import os
import pandas as pd
import matplotlib.pyplot as plt
import pprint

os.chdir( os.path.join("..","..","..") )

from Code.src.modules.db_ops import *

In [3]:
#connecting to a sql database
# configuring the sql connection and query execution
db_enrollment = ConnectDB( os.path.join("Data", "02_processed", "enrollment4EDA.db") )

In [4]:
# example test query
db_enrollment.runQuery("""
    SELECT rec_id, stu_id
    FROM enrollment4EDA
    LIMIT 5;
""")

   rec_id   stu_id
0       0  CEC3286
1       1  CEC3289
2       2   CEC865
3       3   CEC865
4       4   CEC901

## Admitted new student per semester in MS Data Analytics Engineering

In [37]:
db_enrollment.runQuery("""
    SELECT stu_admit_term_year, stu_admit_term_name, COUNT(DISTINCT stu_id) AS stu_count
    FROM enrollment4EDA
    WHERE
        stu_admit_term_year >= 2017
        AND stu_prog_desc = 'MS Data Analytics Engineering'
    GROUP BY stu_admit_term_year, stu_admit_term_name;
""")

    stu_admit_term_year stu_admit_term_name  stu_count
0                  2017                Fall        119
1                  2017              Spring         45
2                  2018                Fall        143
3                  2018              Spring        102
4                  2019                Fall        173
5                  2019              Spring        124
6                  2019              Summer          9
7                  2020                Fall        171
8                  2020              Spring        113
9                  2020              Summer         12
10                 2021                Fall        236
11                 2021              Spring        131
12                 2021              Summer          6
13                 2022                Fall        246
14                 2022              Spring        165
15                 2022              Summer         10
16                 2023              Spring        170

In [69]:
db_enrollment.runQuery("""
    SELECT DISTINCT stu_id
    FROM enrollment4EDA
    WHERE
        stu_admit_term_desc = 'Fall 2021'
        AND stu_prog_desc = 'MS Data Analytics Engineering'
        AND reg_term_desc = 'Fall 2022'
    GROUP BY stu_id;
""")

       stu_id
0    CEC10048
1    CEC10635
2    CEC10719
3    CEC10793
4    CEC11824
..        ...
173     CEC73
174    CEC871
175   CEC8942
176   CEC9038
177   CEC9426

[178 rows x 1 columns]

## Count per class

In [56]:
db_enrollment.runQuery("""
    SELECT stu_admit_term_year, stu_admit_term_name, reg_term_code, reg_term_desc, stu_id,stu_visa, crs, MAX(reg_status_date) as final_reg_date, reg_status
    FROM enrollment4EDA
    WHERE 
        stu_admit_term_year = 2021
        AND stu_admit_term_name = 'Fall'
        AND reg_term_desc = 'Fall 2021'
        AND crs = 'AIT 580'
    GROUP BY reg_term_code, reg_term_desc, stu_id, crs
    ORDER BY final_reg_date;
""")

,stu_admit_term_year,stu_admit_term_name,reg_term_code,reg_term_desc,stu_id,stu_visa,crs,final_reg_date,reg_status
0,2021,Fall,202170,Fall 2021,CEC11114,Not Relevent,AIT 580,2021-04-20 00:00:00,**Web Registered**
1,2021,Fall,202170,Fall 2021,CEC12562,Not Relevent,AIT 580,2021-04-20 00:00:00,**Registered**
2,2021,Fall,202170,Fall 2021,CEC12934,Not Relevent,AIT 580,2021-04-20 00:00:00,**Web Registered**
3,2021,Fall,202170,Fall 2021,CEC13498,Not Relevent,AIT 580,2021-04-20 00:00:00,**Web Registered**
4,2021,Fall,202170,Fall 2021,CEC19858,F1 Visa,AIT 580,2021-04-20 00:00:00,**Web Registered**
...,...,...,...,...,...,...,...,...,...
182,2021,Fall,202170,Fall 2021,CEC27093,F1 Visa,AIT 580,2021-08-28 00:00:00,**Web Registered**
183,2021,Fall,202170,Fall 2021,CEC26155,F1 Visa,AIT 580,2021-08-29 00:00:00,**Web Registered**
184,2021,Fall,202170,Fall 2021,CEC27131,F1 Visa,AIT 580,2021-08-29 00:00:00,**Web Registered**
185,2021,Fall,202170,Fall 2021,CEC27486,F1 Visa,AIT 580,2021-08-30 00:00:00,**Web Registered**
186,2021,Fall,202170,Fall 2021,CEC27725,F1 Visa,AIT 580,2021-09-14 00:00:00,**Registered**

In [8]:
db_enrollment.runQuery("""
    SELECT reg_term_code,stu_prog_desc,reg_term_desc, stu_id, crs, MAX(reg_status_date) as final_reg_date, reg_status
    FROM enrollment4EDA
    WHERE
        stu_prog_desc = 'MS Data Analytics Engineering'
        AND
            (reg_term_desc = 'Fall 2021'
            OR reg_term_desc = 'Spring 2022'
            OR reg_term_desc = 'Fall 2022'
            OR reg_term_desc = 'Spring 2023')
    GROUP BY reg_term_code, reg_term_desc, stu_id, crs
    ORDER BY final_reg_date;
""")

,reg_term_code,stu_prog_desc,reg_term_desc,stu_id,crs,final_reg_date,reg_status
0,202170,MS Data Analytics Engineering,Fall 2021,CEC10336,OR 531,2021-04-20 00:00:00,**Web Registered**
1,202170,MS Data Analytics Engineering,Fall 2021,CEC10336,OR 542,2021-04-20 00:00:00,**Web Registered**
2,202170,MS Data Analytics Engineering,Fall 2021,CEC10336,OR 568,2021-04-20 00:00:00,**Web Registered**
3,202170,MS Data Analytics Engineering,Fall 2021,CEC10719,CS 504,2021-04-20 00:00:00,**Web Registered**
4,202170,MS Data Analytics Engineering,Fall 2021,CEC10719,OR 531,2021-04-20 00:00:00,**Web Registered**
...,...,...,...,...,...,...,...
8346,202310,MS Data Analytics Engineering,Spring 2023,CEC12579,DAEN 690,2023-02-02 00:00:00,Drop/Delete
8347,202310,MS Data Analytics Engineering,Spring 2023,CEC11824,AIT 524,2023-02-06 00:00:00,Web Withdrawal
8348,202310,MS Data Analytics Engineering,Spring 2023,CEC18204,CS 580,2023-02-06 00:00:00,**Registered**
8349,202310,MS Data Analytics Engineering,Spring 2023,CEC26521,GBUS 740,2023-02-07 00:00:00,**Web Registered**
8350,202310,MS Data Analytics Engineering,Spring 2023,CEC27967,CS 504,2023-02-09 00:00:00,**Web Registered**

In [31]:
db_MS_Data_Analytics = db_enrollment.runQuery("""
    SELECT reg_term_code,stu_prog_desc,reg_term_desc, stu_id, crs, MAX(reg_status_date) as final_reg_date, reg_status
    FROM enrollment4EDA
    WHERE
        stu_prog_desc = 'MS Data Analytics Engineering'
        AND
            (reg_term_desc = 'Fall 2021'            
            OR reg_term_desc = 'Spring 2022'
            OR reg_term_desc = 'Fall 2022'
            OR reg_term_desc = 'Spring 2023')
        AND
            stu_admit_term_year = 2021
        AND 
            stu_admit_term_name = 'Fall'

    GROUP BY reg_term_code, reg_term_desc, stu_id, crs
    ORDER BY final_reg_date;
""")

db_MS_Data_Analytics

,reg_term_code,stu_prog_desc,reg_term_desc,stu_id,crs,final_reg_date,reg_status
0,202170,MS Data Analytics Engineering,Fall 2021,CEC10719,CS 504,2021-04-20 00:00:00,**Web Registered**
1,202170,MS Data Analytics Engineering,Fall 2021,CEC10719,OR 531,2021-04-20 00:00:00,**Web Registered**
2,202170,MS Data Analytics Engineering,Fall 2021,CEC12562,AIT 580,2021-04-20 00:00:00,**Registered**
3,202170,MS Data Analytics Engineering,Fall 2021,CEC12562,STAT 515,2021-04-20 00:00:00,**Registered**
4,202170,MS Data Analytics Engineering,Fall 2021,CEC12934,AIT 580,2021-04-20 00:00:00,**Web Registered**
...,...,...,...,...,...,...,...
2431,202310,MS Data Analytics Engineering,Spring 2023,CEC27468,DAEN 690,2023-01-27 00:00:00,**Web Registered**
2432,202310,MS Data Analytics Engineering,Spring 2023,CEC26350,AIT 622,2023-01-30 00:00:00,**Web Registered**
2433,202310,MS Data Analytics Engineering,Spring 2023,CEC11824,AIT 524,2023-02-06 00:00:00,Web Withdrawal
2434,202310,MS Data Analytics Engineering,Spring 2023,CEC26521,GBUS 740,2023-02-07 00:00:00,**Web Registered**
2435,202310,MS Data Analytics Engineering,Spring 2023,CEC27967,CS 504,2023-02-09 00:00:00,**Web Registered**

In [84]:
db_enrollment.runQuery("""
    SELECT reg_term_code,stu_prog_desc,reg_term_desc, stu_id, crs, MAX(reg_status_date) as final_reg_date, reg_status
    FROM enrollment4EDA
    WHERE
        stu_prog_desc = 'MS Data Analytics Engineering'
        AND
            (reg_term_desc = 'Fall 2021'            
            OR reg_term_desc = 'Spring 2022'
            OR reg_term_desc = 'Fall 2022'
            OR reg_term_desc = 'Spring 2023')
        AND
            stu_admit_term_year = 2021
        AND 
            stu_admit_term_name = 'Fall'
        AND 
            crs = 'OR 531'

    GROUP BY reg_term_code, reg_term_desc, stu_id, crs
    ORDER BY final_reg_date;
""")

,reg_term_code,stu_prog_desc,reg_term_desc,stu_id,crs,final_reg_date,reg_status
0,202170,MS Data Analytics Engineering,Fall 2021,CEC10719,OR 531,2021-04-20 00:00:00,**Web Registered**
1,202170,MS Data Analytics Engineering,Fall 2021,CEC12934,OR 531,2021-04-20 00:00:00,**Web Registered**
2,202170,MS Data Analytics Engineering,Fall 2021,CEC22428,OR 531,2021-04-20 00:00:00,**Web Registered**
3,202170,MS Data Analytics Engineering,Fall 2021,CEC22942,OR 531,2021-04-20 00:00:00,**Web Registered**
4,202170,MS Data Analytics Engineering,Fall 2021,CEC23829,OR 531,2021-04-20 00:00:00,**Web Registered**
...,...,...,...,...,...,...,...
223,202270,MS Data Analytics Engineering,Fall 2022,CEC4036,OR 531,2022-07-29 00:00:00,**Registered**
224,202270,MS Data Analytics Engineering,Fall 2022,CEC716,OR 531,2022-07-29 00:00:00,**Registered**
225,202270,MS Data Analytics Engineering,Fall 2022,CEC1469,OR 531,2022-08-25 00:00:00,Drop/Delete
226,202310,MS Data Analytics Engineering,Spring 2023,CEC6084,OR 531,2022-11-02 00:00:00,**Web Registered**
227,202310,MS Data Analytics Engineering,Spring 2023,CEC1469,OR 531,2022-11-07 00:00:00,**Registered**

In [102]:
db_MS_Data_Analytics_Courses = db_enrollment.runQuery("""
    SELECT DISTINCT crs
    FROM enrollment4EDA
    WHERE
        stu_prog_desc = 'MS Data Analytics Engineering'

""")

db_MS_Data_Analytics_Courses

          crs
0     AIT 622
1      OR 604
2     SWE 619
3     SWE 621
4     SWE 637
..        ...
253  STAT 676
254  LING 675
255  LING 689
256  TCOM 616
257   AIT 790

[258 rows x 1 columns]

## FORMULA TO GET WEIGHT

In [93]:
db_enrollment.runQuery("""
    SELECT DISTINCT stu_id, stu_admit_term_desc,reg_term_desc ,COUNT(DISTINCT stu_id) AS stu_count
    FROM enrollment4EDA
    WHERE
        stu_admit_term_desc = 'Fall 2021'
        AND stu_prog_desc = 'MS Data Analytics Engineering'
        AND reg_term_desc >= 'Fall 2021'
        AND crs = 'STAT 554'
    GROUP BY reg_term_desc;
""")

     stu_id stu_admit_term_desc reg_term_desc  stu_count
0  CEC26924           Fall 2021     Fall 2021          6
1  CEC22428           Fall 2021   Spring 2022          2