# Initialization
This file connects to the un-normalized Enrollment Data and performs some basic EDA on the data.

In [1]:
# importing the required libraries
import os
import pandas as pd
import matplotlib.pyplot as plt

os.chdir( os.path.join("..", "..", "..") )

from Code.src.modules.db_ops import *
from Code.src.modules.eda import *

# Importing the Data
## SQL Database
Using enrollment4EDA.db as the database file

In [2]:
# configuring the sql connection and query execution
db_enrollment = ConnectDB( os.path.join("Data", "02_processed", "enrollment4EDA.db") )

In [3]:
# example test query
db_enrollment.runQuery("""
    SELECT rec_id, stu_id
    FROM enrollment4EDA
    LIMIT 5;
""")

   rec_id   stu_id
0       0  CEC3286
1       1  CEC3289
2       2   CEC865
3       3   CEC865
4       4   CEC901

## Pandas Dataframe

In [4]:
df_enrollment = pd.read_pickle( os.path.join("Data", "02_processed", "enrollment.pkl") )

In [5]:
df_enrollment.head()

,rec_id,rec_ext_date,file_name,file_index,reg_term_code,reg_term_year,reg_term_name,reg_term_desc,stu_id,stu_deg_level,...,crs_type,crs_credits,crs_hours,crs_sect,crs_sect_clg,crs_sect_modality,crs_sect_wiley_ind,reg_status,reg_status_date,stu_act_reg_ind
0,0,2017-05-01,Data\01_raw\EnrollmentData\CEC Graduate Regist...,5,201770,2017,Fall,Fall 2017,CEC3286,Master,...,Lecture,3,3.0,INFS 640 001,VSE,F2F,No Value,**Web Registered**,2017-04-11,Y
1,1,2017-05-01,Data\01_raw\EnrollmentData\CEC Graduate Regist...,6,201770,2017,Fall,Fall 2017,CEC3289,Master,...,Lecture,3,3.0,SWE 619 002,VSE,F2F,No Value,**Web Registered**,2017-04-11,Y
2,2,2017-05-01,Data\01_raw\EnrollmentData\CEC Graduate Regist...,10,201770,2017,Fall,Fall 2017,CEC865,Master,...,Lecture,3,3.0,CEIE 639 001,VSE,F2F,No Value,**Web Registered**,2017-04-11,Y
3,3,2017-05-01,Data\01_raw\EnrollmentData\CEC Graduate Regist...,11,201770,2017,Fall,Fall 2017,CEC865,Master,...,Lecture,3,3.0,CEIE 679 001,VSE,F2F,No Value,**Web Registered**,2017-04-11,Y
4,4,2017-05-01,Data\01_raw\EnrollmentData\CEC Graduate Regist...,12,201770,2017,Fall,Fall 2017,CEC901,Master,...,Lecture,3,3.0,SWE 645 001,VSE,F2F,No Value,**Web Registered**,2017-04-11,Y

## CSV
Not even gonna bother with this

# EDA

## Getting the summary statistics

In [6]:
# For a column
summarize("stu_id", df_enrollment)

================================================================================
stu_id				type: object
================================================================================
There are 6119 unique values in the stu_id column.
There are 1 missing values in the stu_id column.

In [7]:
# For entire dataframe
summarize_entire(df_enrollment)

================================================================================
rec_id				type: int64
================================================================================
There are 344119 unique values in the rec_id column.
There are 0 missing values in the rec_id column.




================================================================================
rec_ext_date				type: datetime64[ns]
================================================================================
There are 106 unique values in the rec_ext_date column.
There are 0 missing values in the rec_ext_date column.




================================================================================
file_name				type: object
================================================================================
There are 107 unique values in the file_name column.
There are 0 missing values in the file_name column.




================================================================================
file_index				type: int64
================================================================================
There are 6960 unique values in the file_index column.
There are 0 missing values in the file_index column.




================================================================================
reg_term_code				type: object
================================================================================
202270    55420
202310    44755
202170    33471
202210    30433
201970    29295
202070    26223
201870    24396
201770    24376
202010    21603
201910    20067
201810    17266
202110    16814
Name: reg_term_code, dtype: int64
There are 0 missing values in the reg_term_code column.




================================================================================
reg_term_year				type: int32
================================================================================
2022    85853
2021    50285
2019    49362
2020    47826
2023    44755
2018    41662
2017    24376
Name: reg_term_year, dtype: int64
There are 0 missing values in the reg_term_year column.




================================================================================
reg_term_name				type: category
================================================================================
Fall      193181
Spring    150938
Name: reg_term_name, dtype: int64
There are 0 missing values in the reg_term_name column.




================================================================================
reg_term_desc				type: object
================================================================================
Fall 2022                 55420
Spring 2023               44755
Fall 2021                 33471
Spring 2022               30433
Fall 2019                 29295
Fall 2020                 26223
Fall 2018                 24396
Fall 2017                 24376
Spring 2020 - COVID-19    21603
Spring 2019               20067
Spring 2018               17266
Spring 2021               16814
Name: reg_term_desc, dtype: int64
There are 0 missing values in the reg_term_desc column.




================================================================================
stu_id				type: object
================================================================================
There are 6119 unique values in the stu_id column.
There are 1 missing values in the stu_id column.




================================================================================
stu_deg_level				type: category
================================================================================
Master    344119
Name: stu_deg_level, dtype: int64
There are 0 missing values in the stu_deg_level column.




================================================================================
stu_college				type: category
================================================================================
VSE    206534
CEC    137585
Name: stu_college, dtype: int64
There are 0 missing values in the stu_college column.




================================================================================
stu_res				type: category
================================================================================
OOS    201805
VA     142314
Name: stu_res, dtype: int64
There are 0 missing values in the stu_res column.




================================================================================
stu_visa				type: category
================================================================================
F1 Visa         188674
Not Relevent    155445
Name: stu_visa, dtype: int64
There are 0 missing values in the stu_visa column.




================================================================================
stu_bam				type: category
================================================================================
Not BAM                          343501
BAM Civil and Infrast Eng, MS       298
BAM Software Engineering, MS        132
BAM Computer Science, MS            104
BAM Computer Engineering, MS         83
BAM Applied Info Tech, MS             1
Name: stu_bam, dtype: int64
There are 0 missing values in the stu_bam column.




================================================================================
stu_new_ret				type: category
================================================================================
R    254042
N     90077
Name: stu_new_ret, dtype: int64
There are 0 missing values in the stu_new_ret column.




================================================================================
stu_dept				type: category
================================================================================
CS          117651
VS           71988
EC           42997
ECE          42520
IST          28234
CEIE         16605
SYST         12856
STAT          6886
No Value      1657
BENG          1263
AIT           1204
CYSE           258
Name: stu_dept, dtype: int64
There are 0 missing values in the stu_dept column.




================================================================================
stu_dept_desc				type: category
================================================================================
Computer Science                  117651
Volgenau School of Engineering     71988
Engineering & Computing            42997
Electrical & Comp. Engineering     42520
Info Sciences & Technology         28234
Civil, Environ & Infrastr Engr     16605
Systems Engr & Operations Rsch     12856
Statistics                          6886
No Value                            1657
Bioengineering                      1263
DNU Applied Info Technolgy          1204
Cyber Security Engineering           258
Name: stu_dept_desc, dtype: int64
There are 0 missing values in the stu_dept_desc column.




================================================================================
stu_prog_code				type: object
================================================================================
There are 38 unique values in the stu_prog_code column.
There are 0 missing values in the stu_prog_code column.




================================================================================
stu_prog_level				type: category
================================================================================
GR    344119
Name: stu_prog_level, dtype: int64
There are 0 missing values in the stu_prog_level column.




================================================================================
stu_prog_desc				type: category
================================================================================
MS Data Analytics Engineering     114075
MS Computer Science                87709
MS Applied Info Technology         26248
MS Civil & Infrastructure Engr     16049
MS Software Engineering            15894
MS Electrical Engineering          13453
MS Computer Engineering            10666
MS Information Systems              9554
MS Computer Forensics               8158
MS Telecommunications               7763
MS Systems Engineering              7724
MS Infrmatn Security & Assrnce      7684
MS Statistical Science              5566
MS Operations Research              5132
MS Cyber Security Engineering       2682
MS Digital Forensics                2623
MS Biostatistics                    1320
MS Bioengineering                   1263
MENG GeoConStruct Engineering        556
Name: stu_prog_desc, dtype: int64
There are 0 missing values in the stu_prog_desc column.




================================================================================
stu_admit_term_code				type: object
================================================================================
There are 30 unique values in the stu_admit_term_code column.
There are 0 missing values in the stu_admit_term_code column.




================================================================================
stu_admit_term_year				type: int32
================================================================================
2021    71987
2022    63721
2019    48907
2018    44323
2017    38887
2020    36859
2016    22829
2023     9071
2015     4792
2014     1630
2013      769
2012      317
2010       17
2011       10
Name: stu_admit_term_year, dtype: int64
There are 0 missing values in the stu_admit_term_year column.




================================================================================
stu_admit_term_name				type: category
================================================================================
Fall      229051
Spring    113827
Summer      1241
Name: stu_admit_term_name, dtype: int64
There are 0 missing values in the stu_admit_term_name column.




================================================================================
stu_admit_term_desc				type: object
================================================================================
There are 30 unique values in the stu_admit_term_desc column.
There are 0 missing values in the stu_admit_term_desc column.




================================================================================
crs				type: object
================================================================================
There are 690 unique values in the crs column.
There are 0 missing values in the crs column.




================================================================================
crs_type				type: category
================================================================================
Lecture                      311555
Seminar                       15531
Lec/Sem #1                     7717
Research                       2345
Lec/Sem #2                     1842
Thesis                         1036
Laboratory                      922
Recitation                      782
Lec/Sem #3                      775
Internship                      493
Lec/Sem #4                      448
Lec/Sem #5                      192
Lec/Sem #6                      164
Independent Study               127
Lec/Sem #7                      126
Research #1                      34
Studio #1 (Repeatable)           11
Lec/Sem #8                        5
IND/INT #1                        5
Studio #5 (Repeatable)            5
Fieldwork #1 (Repeatable)         4
Name: crs_type, dtype: int64
There are 0 missing values in the crs_type column.




================================================================================
crs_credits				type: category
================================================================================
3       336508
0         6355
1-3        503
1          352
1-6        289
2           45
6           30
0-3         18
1-4          5
1-18         4
1.5          4
5            3
4            2
0-9          1
Name: crs_credits, dtype: int64
There are 0 missing values in the crs_credits column.




================================================================================
crs_hours				type: category
================================================================================
3.0    302271
0.0     40784
1.0       921
2.0        70
6.0        56
5.0        11
1.5         4
4.0         2
Name: crs_hours, dtype: int64
There are 0 missing values in the crs_hours column.




================================================================================
crs_sect				type: object
================================================================================
There are 1561 unique values in the crs_sect column.
There are 0 missing values in the crs_sect column.




================================================================================
crs_sect_clg				type: category
================================================================================
VSE      199966
CEC      130269
BUS        9486
CHHS       2296
COS        1377
CHSS        323
CPH         283
SCHAR        54
CVPA         28
CEHD         21
INTO         12
UN            4
Name: crs_sect_clg, dtype: int64
There are 0 missing values in the crs_sect_clg column.




================================================================================
crs_sect_modality				type: category
================================================================================
F2F                   235230
Online                 98698
Mix F2F and Online     10191
Name: crs_sect_modality, dtype: int64
There are 0 missing values in the crs_sect_modality column.




================================================================================
crs_sect_wiley_ind				type: category
================================================================================
N           300458
No Value     34797
Y             8864
Name: crs_sect_wiley_ind, dtype: int64
There are 0 missing values in the crs_sect_wiley_ind column.




================================================================================
reg_status				type: category
================================================================================
**Web Registered**                297028
Wait Listed                        26576
**Registered**                     12632
Drop-Course Cancelled               6397
Drop/Delete                         1296
Web Drop (Liability)                 144
Web Withdrawal                        39
Registered for Audit                   3
Selective Withdrawal Exception         2
Withdrawal from Course                 2
Name: reg_status, dtype: int64
There are 0 missing values in the reg_status column.




================================================================================
reg_status_date				type: datetime64[ns]
================================================================================
There are 1474 unique values in the reg_status_date column.
There are 0 missing values in the reg_status_date column.




================================================================================
stu_act_reg_ind				type: category
================================================================================
Y    339514
N      4605
Name: stu_act_reg_ind, dtype: int64
There are 0 missing values in the stu_act_reg_ind column.

# Exporting the Outputs

Always store your outputs in the 02_processed folder. Name the file to include the description as well as the name of the author.

In [9]:
# Storing the query results in a pandas dataframe
test_query1 = db_enrollment.runQuery("""
    SELECT rec_id, stu_id
    FROM enrollment4EDA
    LIMIT 5;
""")

# Exporting the pandas dataframe to a csv file
query1.to_csv( os.path.join("Data", "02_processed", "test_query1_author.csv"), index=False )