# Initialization
This file connects to the un-normalized Enrollment Data and performs some basic EDA on the data.

In [1]:
# importing the required libraries
import sqlite3
import os
import pandas as pd

## Establishing connection to the SQL database
Using enrollment4EDA.db as the database file

In [2]:
# configuring the sql connection and query execution
_       = os.sep
src     = ".."+_+".."+_+".."
conn    = sqlite3.connect(src+_+"Data"+_+"EnrollmentData"+_+"enrollment4EDA.db")
cur     = conn.cursor()

def runQuery(query, commiting=False):
    cur.execute(query)
    if commiting:
        conn.commit()
    return pd.DataFrame(cur.fetchall(), columns=[i[0] for i in cur.description])

In [3]:
# example test query
runQuery("""
    SELECT rec_id, stu_id
    FROM enrollment4EDA
    LIMIT 5;
""")

   rec_id   stu_id
0       0  CEC3286
1       1  CEC3289
2       2   CEC865
3       3   CEC865
4       4   CEC901

## Importing the pandas dataframe

In [5]:
df = pd.read_pickle(
    src+_+"Data"+_+"EnrollmentData"+_+"enrollment.pkl"
)

# EDA

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 344119 entries, 0 to 344118
Data columns (total 35 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   rec_id               344119 non-null  int64
 1   rec_ext_date         344119 non-null  datetime64[ns]
 2   file_name            344119 non-null  object
 3   file_index           344119 non-null  int64
 4   reg_term_code        344119 non-null  object
 5   reg_term_year        344119 non-null  int32
 6   reg_term_name        344119 non-null  category
 7   reg_term_desc        344119 non-null  object
 8   stu_id               344118 non-null  object
 9   stu_deg_level        344119 non-null  category
 10  stu_college          344119 non-null  category
 11  stu_res              344119 non-null  category
 12  stu_visa             344119 non-null  category
 13  stu_bam              344119 non-null  category
 14  stu_new_ret          344119 non-null  category
 15  stu_dept             344119 non-null  category
 16  stu_dept_desc        344119 non-null  category
 17  stu_prog_code        344119 non-null  object
 18  stu_prog_level       344119 non-null  category
 19  stu_prog_desc        344119 non-null  category
 20  stu_admit_term_code  344119 non-null  object
 21  stu_admit_term_year  344119 non-null  int32
 22  stu_admit_term_name  344119 non-null  category
 23  stu_admit_term_desc  344119 non-null  object
 24  crs                  344119 non-null  object
 25  crs_type             344119 non-null  category
 26  crs_credits          344119 non-null  category
 27  crs_hours            344119 non-null  category
 28  crs_sect             344119 non-null  object
 29  crs_sect_clg         344119 non-null  category
 30  crs_sect_modality    344119 non-null  category
 31  crs_sect_wiley_ind   344119 non-null  category
 32  reg_status           344119 non-null  category
 33  reg_status_date      344119 non-null  datetime64[ns]
 34  stu_act_reg_ind      344119 non-null  category
dtypes: category(20), datetime64[ns](2), int32(2), int64(2), object(9)
memory usage: 43.3+ MB