In [22]:
# importing required libraries
import os
import glob
import pandas as pd
import sqlite3

In [23]:
# Merging the data from all the files in the folder
_ = os.sep
files = glob.glob(".."+_+".."+_+"Data"+_+"EnrollmentData"+_+"01_raw"+_+"*.csv")

# Reading each file, adding filename as a column and appending to a pandas dataframe
df_enrollment = pd.read_csv(files[0])
df_enrollment['file_name'] = files[0]
for file in files[1:]:
    data = pd.read_csv(file)
    data['file_name'] = file
    df_enrollment = pd.concat([df_enrollment, data], ignore_index=True)

# Shape of the final dataframe
df_enrollment.shape

(344119, 29)

In [24]:
# renaming all the columns in the dataframe
rename_dict = {
    'Unnamed: 0'                        : 'file_index',
    'Stu Term'                          : 'reg_term_code',
    'Unnamed: 1'                        : 'reg_term_desc',
    'Stu Admit Term'                    : 'stu_admit_term_code',
    'Unnamed: 3'                        : 'stu_admit_term_desc',
    'Record ID'                         : 'stu_id',
    'Stu Visa Type'                     : 'stu_visa',
    'Stu Attribute BAM'                 : 'stu_bam',
    'Stu Admit Type'                    : 'stu_prog_level',
    'Stu Primary Degree Level'          : 'stu_deg_level',
    'Stu Primary Major 1 College'       : 'stu_college',
    'Stu Primary Program'               : 'stu_prog_desc',
    'Stu Primary Program Code'          : 'stu_prog_code',
    'Stu Primary Department'            : 'stu_dept',
    'Unnamed: 14'                       : 'stu_dept_desc',
    'Stu New/Returning Ind'             : 'stu_new_ret',
    'Stu Residency Group'               : 'stu_res',
    'Course Sect College'               : 'crs_sect_clg',
    'Stu Registered Ind'                : 'stu_act_reg_ind',
    'Registration Status'               : 'reg_status',
    'Registration Status Date'          : 'reg_status_date',
    'Course Desc'                       : 'crs',
    'Course Section'                    : 'crs_sect',
    'Course Sect Schedule Type'         : 'crs_type',
    'Course Sect Wiley Courses Ind'     : 'crs_sect_wiley_ind',
    'Course Sect Credits'               : 'crs_credits',
    'Stu Course Registered Hours'       : 'crs_hours',
    'Course Sect Instruction Delivery Method Group' : 'crs_sect_modality',
}
df_enrollment.rename(columns=rename_dict, inplace=True)

In [25]:
# Extracting features from the dataframe
df_enrollment['reg_term_name'] = df_enrollment['reg_term_desc'].str.split(' ').str[0]
df_enrollment['reg_term_year'] = df_enrollment['reg_term_desc'].str.split(' ').str[1]
df_enrollment['stu_admit_term_name'] = df_enrollment['stu_admit_term_desc'].str.split(' ').str[0]
df_enrollment['stu_admit_term_year'] = df_enrollment['stu_admit_term_desc'].str.split(' ').str[1]

df_enrollment['rec_ext_date'] = df_enrollment['file_name'].str.split("_").str[-2]
df_enrollment['rec_ext_date'] = df_enrollment['rec_ext_date'].str.replace(".", "/", regex=False)

In [26]:
# Cleaning the data

df_enrollment['stu_id'].dropna(inplace=True)
df_enrollment['stu_visa'].fillna("Not Relevent", inplace=True)

df_enrollment['stu_bam'].replace("'--", "Not BAM", inplace=True)
df_enrollment['stu_dept'].replace("'-----", "No Value", inplace=True)
df_enrollment['crs_sect_wiley_ind'].replace("'--", "No Value", inplace=True)

df_enrollment['crs_credits'] = df_enrollment['crs_credits'].astype(str)

df_enrollment['crs_credits'].replace("6-Jan", "1-6", inplace=True)
df_enrollment['crs_credits'].replace("3-Jan", "1-3", inplace=True)
df_enrollment['crs_credits'].replace("18-Jan", "1-18", inplace=True)
df_enrollment['crs_credits'].replace("4-Jan", "1-4", inplace=True)
df_enrollment['crs_credits'].replace("0,3", "0-3", inplace=True)

In [27]:
# sorting the dataframe by term code and registration status date
df_enrollment = df_enrollment.sort_values(
    by=['reg_term_code', 'rec_ext_date', 'reg_status_date']
)

# resetting the index after sorting
df_enrollment = df_enrollment.reset_index(drop=True)

# creating a new rec_id column for identifying each record
df_enrollment['rec_id'] = df_enrollment.index

In [28]:
# Changing the data type of the columns
df_enrollment['rec_ext_date']           = pd.to_datetime(df_enrollment['rec_ext_date'])
df_enrollment['reg_term_code']          = df_enrollment['reg_term_code'].astype(str)
df_enrollment['reg_term_year']          = df_enrollment['reg_term_year'].astype(int)
df_enrollment['reg_term_name']          = df_enrollment['reg_term_name'].astype('category')
df_enrollment['stu_new_ret']            = df_enrollment['stu_new_ret'].astype('category')
df_enrollment['stu_deg_level']          = df_enrollment['stu_deg_level'].astype('category')
df_enrollment['stu_college']            = df_enrollment['stu_college'].astype('category')
df_enrollment['stu_prog_desc']          = df_enrollment['stu_prog_desc'].astype('category')
df_enrollment['stu_prog_level']         = df_enrollment['stu_prog_level'].astype('category')
df_enrollment['stu_dept']               = df_enrollment['stu_dept'].astype('category')
df_enrollment['stu_dept_desc']          = df_enrollment['stu_dept_desc'].astype('category')
df_enrollment['stu_admit_term_code']    = df_enrollment['stu_admit_term_code'].astype(str)
df_enrollment['stu_admit_term_year']    = df_enrollment['stu_admit_term_year'].astype(int)
df_enrollment['stu_admit_term_name']    = df_enrollment['stu_admit_term_name'].astype('category')
df_enrollment['stu_res']                = df_enrollment['stu_res'].astype('category')
df_enrollment['stu_visa']               = df_enrollment['stu_visa'].astype('category')
df_enrollment['stu_bam']                = df_enrollment['stu_bam'].astype('category')
df_enrollment['crs_sect_clg']           = df_enrollment['crs_sect_clg'].astype('category')
df_enrollment['crs_type']               = df_enrollment['crs_type'].astype('category')
df_enrollment['crs_sect_modality']      = df_enrollment['crs_sect_modality'].astype('category')
df_enrollment['crs_sect_wiley_ind']     = df_enrollment['crs_sect_wiley_ind'].astype('category')
df_enrollment['crs_credits']            = df_enrollment['crs_credits'].astype('category')
df_enrollment['crs_hours']              = df_enrollment['crs_hours'].astype('category')
df_enrollment['stu_act_reg_ind']        = df_enrollment['stu_act_reg_ind'].astype('category')
df_enrollment['reg_status']             = df_enrollment['reg_status'].astype('category')
df_enrollment['reg_status_date']        = pd.to_datetime(df_enrollment['reg_status_date'])

In [29]:
# reordering the columns
df_enrollment = df_enrollment[[
    # Records Info
    'rec_id', 'rec_ext_date', 'file_name', 'file_index',
    # Registration Term/Semester Info
    'reg_term_code', 'reg_term_year', 'reg_term_name', 'reg_term_desc',
    # Student Info
    'stu_id', 'stu_deg_level', 'stu_college', 'stu_res', 'stu_visa', 'stu_bam', 'stu_new_ret',
    'stu_dept', 'stu_dept_desc', 'stu_prog_code', 'stu_prog_level', 'stu_prog_desc',
    'stu_admit_term_code', 'stu_admit_term_year', 'stu_admit_term_name', 'stu_admit_term_desc',
    # Course Info
    'crs', 'crs_type', 'crs_credits', 'crs_hours',
    'crs_sect', 'crs_sect_clg', 'crs_sect_modality', 'crs_sect_wiley_ind',
    # Registration Status Info
    'reg_status', 'reg_status_date', 'stu_act_reg_ind'
]]

In [30]:
df_enrollment.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 344119 entries, 0 to 344118
Data columns (total 35 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   rec_id               344119 non-null  int64
 1   rec_ext_date         344119 non-null  datetime64[ns]
 2   file_name            344119 non-null  object
 3   file_index           344119 non-null  int64
 4   reg_term_code        344119 non-null  object
 5   reg_term_year        344119 non-null  int32
 6   reg_term_name        344119 non-null  category
 7   reg_term_desc        344119 non-null  object
 8   stu_id               344118 non-null  object
 9   stu_deg_level        344119 non-null  category
 10  stu_college          344119 non-null  category
 11  stu_res              344119 non-null  category
 12  stu_visa             344119 non-null  category
 13  stu_bam              344119 non-null  category
 14  stu_new_ret          344119 non-null  category
 15  stu_dept             344119 non-null  category
 16  stu_dept_desc        344119 non-null  category
 17  stu_prog_code        344119 non-null  object
 18  stu_prog_level       344119 non-null  category
 19  stu_prog_desc        344119 non-null  category
 20  stu_admit_term_code  344119 non-null  object
 21  stu_admit_term_year  344119 non-null  int32
 22  stu_admit_term_name  344119 non-null  category
 23  stu_admit_term_desc  344119 non-null  object
 24  crs                  344119 non-null  object
 25  crs_type             344119 non-null  category
 26  crs_credits          344119 non-null  category
 27  crs_hours            344119 non-null  category
 28  crs_sect             344119 non-null  object
 29  crs_sect_clg         344119 non-null  category
 30  crs_sect_modality    344119 non-null  category
 31  crs_sect_wiley_ind   344119 non-null  category
 32  reg_status           344119 non-null  category
 33  reg_status_date      344119 non-null  datetime64[ns]
 34  stu_act_reg_ind      344119 non-null  category
dtypes: category(20), datetime64[ns](2), int32(2), int64(2), object(9)
memory usage: 43.3+ MB

In [31]:
df_enrollment.sample(5).T

,271448,147124,177293,128475,247428
rec_id,271448,147124,177293,128475,247428
rec_ext_date,2022-07-15 00:00:00,2020-07-01 00:00:00,2020-12-01 00:00:00,2019-11-06 00:00:00,2022-05-01 00:00:00
file_name,..\..\Data\EnrollmentData\01_raw\CEC Graduate ...,..\..\Data\EnrollmentData\01_raw\CEC Graduate ...,..\..\Data\EnrollmentData\01_raw\CEC Graduate ...,..\..\Data\EnrollmentData\01_raw\CEC Graduate ...,..\..\Data\EnrollmentData\01_raw\CEC Graduate ...
file_index,2846,1688,413,1178,215
reg_term_code,202270,202070,202110,202010,202270
reg_term_year,2022,2020,2021,2020,2022
reg_term_name,Fall,Fall,Spring,Spring,Fall
reg_term_desc,Fall 2022,Fall 2020,Spring 2021,Spring 2020 - COVID-19,Fall 2022
stu_id,CEC28097,CEC15059,CEC6503,CEC17100,CEC17985
stu_deg_level,Master,Master,Master,Master,Master
stu_college,CEC,VSE,VSE,VSE,CEC
stu_res,OOS,VA,VA,OOS,VA
stu_visa,F1 Visa,Not Relevent,Not Relevent,F1 Visa,Not Relevent
stu_bam,Not BAM,Not BAM,Not BAM,Not BAM,Not BAM
stu_new_ret,R,R,R,R,R
stu_dept,EC,CS,CS,IST,EC
stu_dept_desc,Engineering & Computing,Computer Science,Computer Science,Info Sciences & Technology,Engineering & Computing
stu_prog_code,EC-MS-DAEN,VS-MS-CS,VS-MS-CS,VS-MS-AIT,EC-MS-DAEN
stu_prog_level,GR,GR,GR,GR,GR
stu_prog_desc,MS Data Analytics Engineering,MS Computer Science,MS Computer Science,MS Applied Info Technology,MS Data Analytics Engineering
stu_admit_term_code,202210,202010,201970,201970,202070
stu_admit_term_year,2022,2020,2019,2019,2020
stu_admit_term_name,Spring,Spring,Fall,Fall,Fall
stu_admit_term_desc,Spring 2022,Spring 2020 - COVID-19,Fall 2019,Fall 2019,Fall 2020
crs,HAP 671,SWE 632,CS 550,AIT 664,SWE 510
crs_type,Lecture,Lecture,Lecture,Lecture,Lecture
crs_credits,3,3,3,3,3
crs_hours,3.0,3.0,3.0,3.0,3.0
crs_sect,HAP 671 001,SWE 632 002,CS 550 DL3,AIT 664 002,SWE 510 001
crs_sect_clg,CHHS,VSE,VSE,VSE,CEC
crs_sect_modality,F2F,Online,Online,F2F,F2F
crs_sect_wiley_ind,N,N,N,N,N
reg_status,**Web Registered**,**Web Registered**,**Web Registered**,**Web Registered**,**Web Registered**
reg_status_date,2022-04-19 00:00:00,2020-05-01 00:00:00,2020-11-07 00:00:00,2019-11-05 00:00:00,2022-04-21 00:00:00
stu_act_reg_ind,Y,Y,Y,Y,Y

In [32]:
df_enrollment['file_name'][0]

'..\\..\\Data\\EnrollmentData\\01_raw\\CEC Graduate Registrations for DAEN Capstone_05.01.2017_Fall17.csv'

In [33]:
# Saving the dataframe as a pickle file
df_enrollment.to_pickle(".."+_+".."+_+"Data"+_+"EnrollmentData"+_+"02_intermediate"+_+"enrollment.pkl")

In [14]:
# Saving the dataframe to a csv file
df_enrollment.to_csv(".."+_+".."+_+"Data"+_+"EnrollmentData"+_+"02_intermediate"+_+"enrollment.csv", index=False)

In [13]:
# Saving the dataframe to a new sqlite database

conn = sqlite3.connect(".."+_+".."+_+"Data"+_+"EnrollmentData"+_+"02_intermediate"+_+"enrollment4EDA.db")
cur = conn.cursor()

df_enrollment.to_sql('enrollment4EDA', conn, if_exists='replace', index=False)

344119

# Normalizing the data
Will work on it later, once the Web Scraping is done on the Course Data
Add an image below:

![EER_Enrollment](Code\DataEngineering\EER_Enrollment.png)

![EER_Enrollment](..\..\Code\DataEngineering\EER_Enrollment.png)

In [13]:
# # Creating a new SQLite database
# conn = sqlite3.connect(".."+_+".."+_+"Data"+_+"EnrollmentData"+_+"02_intermediate"+_+"enrollment.db")
# cur = conn.cursor()

In [ ]:
# # Creating the tables in the database
# conn.execute('''
#     CREATE TABLE IF NOT EXISTS

# EDA

In [15]:
# getting the number of unique values in each column for the entire dataframe
for col in df_enrollment.columns.to_list():
    unique_values = df_enrollment[col].nunique()
    if unique_values < 50:
        print(" "*10, col)
        print(df_enrollment[col].value_counts())
        print("-"*50)
    else:
        print(" "*10, col)
        print(f"Skipping '{col}' column as it has {unique_values} unique values.")
        print("-"*50)

           rec_id
Skipping 'rec_id' column as it has 344119 unique values.
--------------------------------------------------
           rec_ext_date
Skipping 'rec_ext_date' column as it has 106 unique values.
--------------------------------------------------
           file_name
Skipping 'file_name' column as it has 107 unique values.
--------------------------------------------------
           file_index
Skipping 'file_index' column as it has 6960 unique values.
--------------------------------------------------
           reg_term_code
202270    55420
202310    44755
202170    33471
202210    30433
201970    29295
202070    26223
201870    24396
201770    24376
202010    21603
201910    20067
201810    17266
202110    16814
Name: reg_term_code, dtype: int64
--------------------------------------------------
           reg_term_year
2022    85853
2021    50285
2019    49362
2020    47826
2023    44755
2018    41662
2017    24376
Name: reg_term_year, dtype: int64
--------------------------------------------------
           reg_term_name
Fall      193181
Spring    150938
Name: reg_term_name, dtype: int64
--------------------------------------------------
           reg_term_desc
Fall 2022                 55420
Spring 2023               44755
Fall 2021                 33471
Spring 2022               30433
Fall 2019                 29295
Fall 2020                 26223
Fall 2018                 24396
Fall 2017                 24376
Spring 2020 - COVID-19    21603
Spring 2019               20067
Spring 2018               17266
Spring 2021               16814
Name: reg_term_desc, dtype: int64
--------------------------------------------------
           stu_id
Skipping 'stu_id' column as it has 6119 unique values.
--------------------------------------------------
           stu_deg_level
Master    344119
Name: stu_deg_level, dtype: int64
--------------------------------------------------
           stu_college
VSE    206534
CEC    137585
Name: stu_college, dtype: int64
--------------------------------------------------
           stu_res
OOS    201805
VA     142314
Name: stu_res, dtype: int64
--------------------------------------------------
           stu_visa
F1 Visa         188674
Not Relevent    155445
Name: stu_visa, dtype: int64
--------------------------------------------------
           stu_bam
Not BAM                          343501
BAM Civil and Infrast Eng, MS       298
BAM Software Engineering, MS        132
BAM Computer Science, MS            104
BAM Computer Engineering, MS         83
BAM Applied Info Tech, MS             1
Name: stu_bam, dtype: int64
--------------------------------------------------
           stu_new_ret
R    254042
N     90077
Name: stu_new_ret, dtype: int64
--------------------------------------------------
           stu_dept
CS          117651
VS           71988
EC           42997
ECE          42520
IST          28234
CEIE         16605
SYST         12856
STAT          6886
No Value      1657
BENG          1263
AIT           1204
CYSE           258
Name: stu_dept, dtype: int64
--------------------------------------------------
           stu_dept_desc
Computer Science                  117651
Volgenau School of Engineering     71988
Engineering & Computing            42997
Electrical & Comp. Engineering     42520
Info Sciences & Technology         28234
Civil, Environ & Infrastr Engr     16605
Systems Engr & Operations Rsch     12856
Statistics                          6886
No Value                            1657
Bioengineering                      1263
DNU Applied Info Technolgy          1204
Cyber Security Engineering           258
Name: stu_dept_desc, dtype: int64
--------------------------------------------------
           stu_prog_code
VS-MS-DAEN     71673
EC-MS-CS       57126
EC-MS-DAEN     42402
VS-MS-CS       30583
VS-MS-AIT      20194
VS-MS-CEIE     12400
VS-MS-SWE      11427
VS-MS-ELEN     10498
VS-MS-CFRS      7914
VS-MS-CPE       6930
VS-MS-TCOM      6840
EC-MS-AIT       6054
VS-MS-ISA       6029
VS-MS-SYST      5908
EC-MS-ISYS      5425
VS-MS-STAT      4777
EC-MS-SWE       4467
VS-MS-ISYS      4129
VS-MS-OPRS      3989
EC-MS-CPE       3736
EC-MS-CEIE      3649
EC-MS-ELEN      2955
EC-MS-CYSE      2269
EC-MS-DFOR      1951
EC-MS-SYST      1816
EC-MS-ISA       1655
EC-MS-OPRS      1143
VS-MS-BSTA       931
EC-MS-TCOM       923
EC-MS-STAT       789
VS-MS-DFOR       672
VS-MS-BIOE       672
EC-MS-BIOE       591
VS-MENG-GCS      555
VS-MS-CYSE       413
EC-MS-BSTA       389
EC-MS-CFRS       244
EC-MENG-GCS        1
Name: stu_prog_code, dtype: int64
--------------------------------------------------
           stu_prog_level
GR    344119
Name: stu_prog_level, dtype: int64
--------------------------------------------------
           stu_prog_desc
MS Data Analytics Engineering     114075
MS Computer Science                87709
MS Applied Info Technology         26248
MS Civil & Infrastructure Engr     16049
MS Software Engineering            15894
MS Electrical Engineering          13453
MS Computer Engineering            10666
MS Information Systems              9554
MS Computer Forensics               8158
MS Telecommunications               7763
MS Systems Engineering              7724
MS Infrmatn Security & Assrnce      7684
MS Statistical Science              5566
MS Operations Research              5132
MS Cyber Security Engineering       2682
MS Digital Forensics                2623
MS Biostatistics                    1320
MS Bioengineering                   1263
MENG GeoConStruct Engineering        556
Name: stu_prog_desc, dtype: int64
--------------------------------------------------
           stu_admit_term_code
202170    52327
202270    40591
201970    32374
201870    30850
201770    29394
202210    22841
202110    19440
202070    19287
201670    18205
202010    17179
201910    16208
201810    13473
201710     9493
202310     9071
201610     4610
201570     3765
201470     1452
201510     1027
201370      527
202040      393
201940      325
202240      289
201270      252
201310      242
202140      220
201410      178
201210       65
201070       17
201640       14
201170       10
Name: stu_admit_term_code, dtype: int64
--------------------------------------------------
           stu_admit_term_year
2021    71987
2022    63721
2019    48907
2018    44323
2017    38887
2020    36859
2016    22829
2023     9071
2015     4792
2014     1630
2013      769
2012      317
2010       17
2011       10
Name: stu_admit_term_year, dtype: int64
--------------------------------------------------
           stu_admit_term_name
Fall      229051
Spring    113827
Summer      1241
Name: stu_admit_term_name, dtype: int64
--------------------------------------------------
           stu_admit_term_desc
Fall 2021                 52327
Fall 2022                 40591
Fall 2019                 32374
Fall 2018                 30850
Fall 2017                 29394
Spring 2022               22841
Spring 2021               19440
Fall 2020                 19287
Fall 2016                 18205
Spring 2020 - COVID-19    17179
Spring 2019               16208
Spring 2018               13473
Spring 2017                9493
Spring 2023                9071
Spring 2016                4610
Fall 2015                  3765
Fall 2014                  1452
Spring 2015                1027
Fall 2013                   527
Summer 2020                 393
Summer 2019                 325
Summer 2022                 289
Fall 2012                   252
Spring 2013                 242
Summer 2021                 220
Spring 2014                 178
Spring 2012                  65
Fall 2010                    17
Summer 2016                  14
Fall 2011                    10
Name: stu_admit_term_desc, dtype: int64
--------------------------------------------------
           crs
Skipping 'crs' column as it has 690 unique values.
--------------------------------------------------
           crs_type
Lecture                      311555
Seminar                       15531
Lec/Sem #1                     7717
Research                       2345
Lec/Sem #2                     1842
Thesis                         1036
Laboratory                      922
Recitation                      782
Lec/Sem #3                      775
Internship                      493
Lec/Sem #4                      448
Lec/Sem #5                      192
Lec/Sem #6                      164
Independent Study               127
Lec/Sem #7                      126
Research #1                      34
Studio #1 (Repeatable)           11
Lec/Sem #8                        5
IND/INT #1                        5
Studio #5 (Repeatable)            5
Fieldwork #1 (Repeatable)         4
Name: crs_type, dtype: int64
--------------------------------------------------
           crs_credits
3       336508
0         6355
1-3        503
1          352
1-6        289
2           45
6           30
0-3         18
1-4          5
1-18         4
1.5          4
5            3
4            2
0-9          1
Name: crs_credits, dtype: int64
--------------------------------------------------
           crs_hours
3.0    302271
0.0     40784
1.0       921
2.0        70
6.0        56
5.0        11
1.5         4
4.0         2
Name: crs_hours, dtype: int64
--------------------------------------------------
           crs_sect
Skipping 'crs_sect' column as it has 1561 unique values.
--------------------------------------------------
           crs_sect_clg
VSE      199966
CEC      130269
BUS        9486
CHHS       2296
COS        1377
CHSS        323
CPH         283
SCHAR        54
CVPA         28
CEHD         21
INTO         12
UN            4
Name: crs_sect_clg, dtype: int64
--------------------------------------------------
           crs_sect_modality
F2F                   235230
Online                 98698
Mix F2F and Online     10191
Name: crs_sect_modality, dtype: int64
--------------------------------------------------
           crs_sect_wiley_ind
N           300458
No Value     34797
Y             8864
Name: crs_sect_wiley_ind, dtype: int64
--------------------------------------------------
           reg_status
**Web Registered**                297028
Wait Listed                        26576
**Registered**                     12632
Drop-Course Cancelled               6397
Drop/Delete                         1296
Web Drop (Liability)                 144
Web Withdrawal                        39
Registered for Audit                   3
Selective Withdrawal Exception         2
Withdrawal from Course                 2
Name: reg_status, dtype: int64
--------------------------------------------------
           reg_status_date
Skipping 'reg_status_date' column as it has 1474 unique values.
--------------------------------------------------
           stu_act_reg_ind
Y    339514
N      4605
Name: stu_act_reg_ind, dtype: int64
--------------------------------------------------

In [21]:
# getting the number of unique values in each column and for each 'stu_id'
for col in df_enrollment.columns.to_list():
    unique_values = df_enrollment[col].nunique()
    if unique_values < 50:
        print(
            df_enrollment[[col, 'stu_id']].drop_duplicates().value_counts(col).sort_index().rename(f"Unique number of Students in '{col}' column.")
        )
        print("-"*50)
    else:
        print(" "*10, col)
        print(f"Skipping '{col}' column as it has {unique_values} unique values.")
        print("-"*50)

           rec_id
Skipping 'rec_id' column as it has 344119 unique values.
--------------------------------------------------
           rec_ext_date
Skipping 'rec_ext_date' column as it has 106 unique values.
--------------------------------------------------
           file_name
Skipping 'file_name' column as it has 107 unique values.
--------------------------------------------------
           file_index
Skipping 'file_index' column as it has 6960 unique values.
--------------------------------------------------
reg_term_code
201770    1177
201810    1183
201870    1209
201910    1269
201970    1439
202010    1371
202070    1335
202110    1307
202170    1593
202210    1661
202270    2222
202310    2193
Name: Unique number of Students in 'reg_term_code' column., dtype: int64
--------------------------------------------------
reg_term_year
2017    1177
2018    1618
2019    1842
2020    1785
2021    2029
2022    2585
2023    2193
Name: Unique number of Students in 'reg_term_year' column., dtype: int64
--------------------------------------------------
reg_term_name
Fall      5405
Spring    5450
Name: Unique number of Students in 'reg_term_name' column., dtype: int64
--------------------------------------------------
reg_term_desc
Fall 2017                 1177
Fall 2018                 1209
Fall 2019                 1439
Fall 2020                 1335
Fall 2021                 1593
Fall 2022                 2222
Spring 2018               1183
Spring 2019               1269
Spring 2020 - COVID-19    1371
Spring 2021               1307
Spring 2022               1661
Spring 2023               2193
Name: Unique number of Students in 'reg_term_desc' column., dtype: int64
--------------------------------------------------
           stu_id
Skipping 'stu_id' column as it has 6119 unique values.
--------------------------------------------------
stu_deg_level
Master    6120
Name: Unique number of Students in 'stu_deg_level' column., dtype: int64
--------------------------------------------------
stu_college
CEC    3330
VSE    4305
Name: Unique number of Students in 'stu_college' column., dtype: int64
--------------------------------------------------
stu_res
OOS    3425
VA     2846
Name: Unique number of Students in 'stu_res' column., dtype: int64
--------------------------------------------------
stu_visa
F1 Visa         3027
Not Relevent    3177
Name: Unique number of Students in 'stu_visa' column., dtype: int64
--------------------------------------------------
stu_bam
BAM Applied Info Tech, MS           1
BAM Civil and Infrast Eng, MS       3
BAM Computer Engineering, MS        1
BAM Computer Science, MS            3
BAM Software Engineering, MS        1
Not BAM                          6111
Name: Unique number of Students in 'stu_bam' column., dtype: int64
--------------------------------------------------
stu_new_ret
N    4613
R    5151
Name: Unique number of Students in 'stu_new_ret' column., dtype: int64
--------------------------------------------------
stu_dept
AIT          114
BENG          33
CEIE         271
CS          1922
CYSE          31
EC          1201
ECE          839
IST          672
No Value      76
STAT         140
SYST         272
VS          1469
Name: Unique number of Students in 'stu_dept' column., dtype: int64
--------------------------------------------------
stu_dept_desc
Bioengineering                      33
Civil, Environ & Infrastr Engr     271
Computer Science                  1922
Cyber Security Engineering          31
DNU Applied Info Technolgy         114
Electrical & Comp. Engineering     839
Engineering & Computing           1201
Info Sciences & Technology         672
No Value                            76
Statistics                         140
Systems Engr & Operations Rsch     272
Volgenau School of Engineering    1469
Name: Unique number of Students in 'stu_dept_desc' column., dtype: int64
--------------------------------------------------
stu_prog_code
EC-MENG-GCS       1
EC-MS-AIT       199
EC-MS-BIOE       24
EC-MS-BSTA       11
EC-MS-CEIE       99
EC-MS-CFRS       22
EC-MS-CPE       101
EC-MS-CS       1024
EC-MS-CYSE       61
EC-MS-DAEN     1168
EC-MS-DFOR       69
EC-MS-ELEN      105
EC-MS-ISA        51
EC-MS-ISYS      153
EC-MS-OPRS       39
EC-MS-STAT       27
EC-MS-SWE       129
EC-MS-SYST       78
EC-MS-TCOM       36
VS-MENG-GCS      13
VS-MS-AIT       465
VS-MS-BIOE       21
VS-MS-BSTA       20
VS-MS-CEIE      224
VS-MS-CFRS      178
VS-MS-CPE       154
VS-MS-CS        676
VS-MS-CYSE       20
VS-MS-DAEN     1451
VS-MS-DFOR       34
VS-MS-ELEN      204
VS-MS-ISA       123
VS-MS-ISYS      105
VS-MS-OPRS       84
VS-MS-STAT      111
VS-MS-SWE       242
VS-MS-SYST      154
VS-MS-TCOM      161
Name: Unique number of Students in 'stu_prog_code' column., dtype: int64
--------------------------------------------------
stu_prog_level
GR    6120
Name: Unique number of Students in 'stu_prog_level' column., dtype: int64
--------------------------------------------------
stu_prog_desc
MENG GeoConStruct Engineering       13
MS Applied Info Technology         546
MS Bioengineering                   33
MS Biostatistics                    23
MS Civil & Infrastructure Engr     263
MS Computer Engineering            210
MS Computer Forensics              178
MS Computer Science               1374
MS Cyber Security Engineering       64
MS Data Analytics Engineering     2079
MS Digital Forensics                79
MS Electrical Engineering          249
MS Information Systems             222
MS Infrmatn Security & Assrnce     139
MS Operations Research              98
MS Software Engineering            298
MS Statistical Science             119
MS Systems Engineering             177
MS Telecommunications              174
Name: Unique number of Students in 'stu_prog_desc' column., dtype: int64
--------------------------------------------------
stu_admit_term_code
201070      2
201170      1
201210      6
201270     10
201310     13
201370     22
201410      9
201470     46
201510     34
201570    120
201610    138
201640      1
201670    409
201710    161
201770    450
201810    231
201870    427
201910    272
201940      9
201970    486
202010    286
202040     12
202070    416
202110    293
202140      6
202170    716
202210    407
202240     15
202270    885
202310    442
Name: Unique number of Students in 'stu_admit_term_code' column., dtype: int64
--------------------------------------------------
stu_admit_term_year
2010       2
2011       1
2012      16
2013      35
2014      55
2015     154
2016     548
2017     611
2018     654
2019     761
2020     709
2021    1008
2022    1271
2023     442
Name: Unique number of Students in 'stu_admit_term_year' column., dtype: int64
--------------------------------------------------
stu_admit_term_name
Fall      3962
Spring    2282
Summer      43
Name: Unique number of Students in 'stu_admit_term_name' column., dtype: int64
--------------------------------------------------
stu_admit_term_desc
Fall 2010                   2
Fall 2011                   1
Fall 2012                  10
Fall 2013                  22
Fall 2014                  46
Fall 2015                 120
Fall 2016                 409
Fall 2017                 450
Fall 2018                 427
Fall 2019                 486
Fall 2020                 416
Fall 2021                 716
Fall 2022                 885
Spring 2012                 6
Spring 2013                13
Spring 2014                 9
Spring 2015                34
Spring 2016               138
Spring 2017               161
Spring 2018               231
Spring 2019               272
Spring 2020 - COVID-19    286
Spring 2021               293
Spring 2022               407
Spring 2023               442
Summer 2016                 1
Summer 2019                 9
Summer 2020                12
Summer 2021                 6
Summer 2022                15
Name: Unique number of Students in 'stu_admit_term_desc' column., dtype: int64
--------------------------------------------------
           crs
Skipping 'crs' column as it has 690 unique values.
--------------------------------------------------
crs_type
Fieldwork #1 (Repeatable)       1
IND/INT #1                      1
Independent Study              33
Internship                    110
Laboratory                    171
Lec/Sem #1                   1216
Lec/Sem #2                    395
Lec/Sem #3                    161
Lec/Sem #4                    111
Lec/Sem #5                     48
Lec/Sem #6                     28
Lec/Sem #7                     15
Lec/Sem #8                      3
Lecture                      6085
Recitation                    123
Research                      431
Research #1                    13
Seminar                      1761
Studio #1 (Repeatable)          1
Studio #5 (Repeatable)          1
Thesis                        163
Name: Unique number of Students in 'crs_type' column., dtype: int64
--------------------------------------------------
crs_credits
0        559
0-3        3
0-9        1
1         78
1-18       2
1-3      116
1-4        1
1-6       50
1.5        1
2          9
3       6111
4          2
5          1
6         13
Name: Unique number of Students in 'crs_credits' column., dtype: int64
--------------------------------------------------
crs_hours
0.0    3890
1.0     204
1.5       1
2.0      13
3.0    6078
4.0       2
5.0       3
6.0      20
Name: Unique number of Students in 'crs_hours' column., dtype: int64
--------------------------------------------------
           crs_sect
Skipping 'crs_sect' column as it has 1561 unique values.
--------------------------------------------------
crs_sect_clg
BUS       693
CEC      3317
CEHD        5
CHHS      327
CHSS       55
COS       184
CPH        45
CVPA        2
INTO        8
SCHAR       8
UN          1
VSE      4300
Name: Unique number of Students in 'crs_sect_clg' column., dtype: int64
--------------------------------------------------
crs_sect_modality
F2F                   5495
Mix F2F and Online    1014
Online                4622
Name: Unique number of Students in 'crs_sect_modality' column., dtype: int64
--------------------------------------------------
crs_sect_wiley_ind
N           5427
No Value    1341
Y            349
Name: Unique number of Students in 'crs_sect_wiley_ind' column., dtype: int64
--------------------------------------------------
reg_status
**Registered**                    1087
**Web Registered**                5723
Drop-Course Cancelled             1106
Drop/Delete                        347
Registered for Audit                 2
Selective Withdrawal Exception       2
Wait Listed                       2675
Web Drop (Liability)                88
Web Withdrawal                      22
Withdrawal from Course               2
Name: Unique number of Students in 'reg_status' column., dtype: int64
--------------------------------------------------
           reg_status_date
Skipping 'reg_status_date' column as it has 1474 unique values.
--------------------------------------------------
stu_act_reg_ind
N     726
Y    6087
Name: Unique number of Students in 'stu_act_reg_ind' column., dtype: int64
--------------------------------------------------

We only need to look at the 2 dates to get the final course registration outcome:
- September 15th for the Fall Semester
- February 15th for the Spring Semester

In [53]:
df_enrollment[['reg_term_code', 'rec_ext_date']].value_counts().reset_index().sort_values(by=['reg_term_code', 'rec_ext_date']).tail(50)

    reg_term_code rec_ext_date     0
75         202070   2020-06-15  2513
62         202070   2020-07-01  2664
48         202070   2020-07-15  2830
41         202070   2020-08-01  3026
39         202070   2020-08-15  3039
47         202070   2020-09-01  2835
60         202070   2020-09-15  2713
106        202110   2020-11-05  1482
98         202110   2020-11-15  2060
88         202110   2020-12-01  2298
70         202110   2020-12-15  2572
52         202110   2021-01-01  2805
51         202110   2021-02-01  2810
54         202110   2021-02-15  2787
83         202170   2021-05-01  2366
56         202170   2021-05-15  2752
38         202170   2021-06-01  3060
32         202170   2021-06-15  3274
27         202170   2021-07-01  3549
26         202170   2021-07-15  3713
23         202170   2021-08-01  3859
22         202170   2021-08-15  3918
28         202170   2021-09-01  3526
29         202170   2021-09-15  3454
73         202210   2021-11-04  2521
35         202210   2021-11-15  3222
24         202210   2021-12-01  3807
20         202210   2021-12-15  4166
19         202210   2022-01-01  4406
17         202210   2022-01-15  4525
21         202210   2022-02-01  4036
25         202210   2022-02-15  3750
18         202270   2022-05-01  4467
16         202270   2022-05-15  4878
10         202270   2022-06-01  5323
6          202270   2022-06-15  5512
5          202270   2022-07-01  5829
4          202270   2022-07-15  6054
3          202270   2022-08-01  6252
2          202270   2022-08-15  6252
7          202270   2022-09-01  5484
9          202270   2022-09-15  5369
12         202310   2022-11-02  5108
13         202310   2022-11-15  5108
14         202310   2022-12-01  5108
15         202310   2022-12-15  5108
1          202310   2023-01-01  6875
0          202310   2023-01-15  6960
8          202310   2023-02-01  5380
11         202310   2023-02-15  5108