In [103]:
import sqlite3
import pandas as pd
import os
import copy
import traceback
import random
import regex as re
import statistics
import numpy as np
pd.options.mode.chained_assignment = None

In [48]:
process_path = os.path.join(os.sep+"home"+os.sep+"jupyter"+os.sep+"Team-Prophecy","Data","02_processed","intermediate.db")
print(process_path)

/home/jupyter/Team-Prophecy/Data/02_processed/intermediate.db

In [49]:
output_path = os.path.join(os.sep+"home"+os.sep+"jupyter"+os.sep+"Team-Prophecy","Data","03_output_for_tableau")
print(output_path)

/home/jupyter/Team-Prophecy/Data/03_output_for_tableau

In [50]:
process_connection = sqlite3.connect(process_path)

In [51]:
program_results_table = pd.DataFrame(process_connection.execute("SELECT * FROM program_results_table").fetchall(),columns=["semester", "program", "course_code", 
                                       "sect_id", "number_of_students", "number_of_waitlisted_students","random_students","percentage_international", "percentage_international_waitlist","total_size"])
results_table = pd.DataFrame(process_connection.execute("SELECT * FROM results_table").fetchall(),columns=["rec_id","semester", "program", "min_waitlisted_students", "proportional_size", "prior_proportional_size", "total_pop"])

In [104]:
from sklearn.linear_model import LogisticRegression, LinearRegression
from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import train_test_split
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.tree import export_graphviz
from sklearn.metrics import mean_squared_error
import pydot
from sklearn.metrics import accuracy_score

In [53]:
program_results_table = program_results_table[["semester", "program", "course_code", "sect_id", "number_of_students", "number_of_waitlisted_students","percentage_international","total_size"]]

In [54]:
program_results_table

,semester,program,course_code,sect_id,number_of_students,number_of_waitlisted_students,percentage_international,total_size
0,201770,EC-MS-CEIE,CEIE605,001,11,0,0.000000,36
1,201770,EC-MS-CEIE,CEIE605,003,8,0,0.000000,36
2,201770,EC-MS-CEIE,CEIE605,002,9,0,0.000000,36
3,201770,EC-MS-CEIE,CEIE605,DL2,13,0,0.000000,36
4,201770,EC-MS-CEIE,CEIE605,DL1,5,0,0.000000,36
...,...,...,...,...,...,...,...,...
6359,202310,EC-MS-TCOM,TCOM616,001,2,0,0.391304,36
6360,202310,EC-MS-TCOM,TCOM616,003,4,0,0.391304,36
6361,202310,EC-MS-TCOM,TCOM616,002,0,0,0.391304,36
6362,202310,EC-MS-TCOM,TCOM616,DL2,4,0,0.391304,36
6363,202310,EC-MS-TCOM,TCOM616,DL1,1,0,0.391304,36

In [55]:
results_table

,rec_id,semester,program,min_waitlisted_students,proportional_size,prior_proportional_size,total_pop
0,1,201770,EC-MS-CEIE,0,111,297,1001
1,2,201770,EC-MS-CPE,0,71,297,1001
2,3,201770,EC-MS-CS,0,371,297,1001
3,4,201770,EC-MS-DAEN,0,162,297,1001
4,5,201770,EC-MS-ELEN,18,74,297,1001
...,...,...,...,...,...,...,...
844,845,202310,EC-MS-ISYS,0,114,2942,1001
845,846,202310,EC-MS-OPRS,11,12,2942,1001
846,847,202310,EC-MS-SWE,0,76,2942,1001
847,848,202310,EC-MS-SYST,10,19,2942,1001
848,849,202310,EC-MS-TCOM,0,24,2942,1001

In [56]:
semester_data = program_results_table["semester"].unique().tolist()

In [57]:
program_list = pd.Series(program_results_table["program"].unique(), dtype="category").tolist()
course_list = pd.Series(program_results_table["course_code"].unique(), dtype="category").tolist()
sect_list = pd.Series(program_results_table["sect_id"].unique(), dtype="category").tolist()

In [58]:
program_dict = {program_list[i] : i for i in range(0,len(program_list))}
course_dict = {course_list[i] : i for i in range(0,len(course_list))}
sect_dict = {sect_list[i] : i for i in range(0,len(sect_list))}

In [59]:
program_results_table["program"] = program_results_table["program"].transform(lambda x : program_dict[x])
program_results_table["course_code"] = program_results_table["course_code"].transform(lambda x : course_dict[x])
program_results_table["sect_id"] = program_results_table["sect_id"].transform(lambda x : sect_dict[x])

In [60]:
#This will classifies our waitlisted students
#program_results_table["number_of_waitlisted_students"] = numpy.where(program_results_table["number_of_waitlisted_students"] > 0, 1, 0)

#This noramlizes our waitlisted students
program_results_table["number_of_waitlisted_students"]= round(100*(program_results_table["number_of_waitlisted_students"]-program_results_table["number_of_waitlisted_students"].min())/(program_results_table["number_of_waitlisted_students"].max()-program_results_table["number_of_waitlisted_students"].min()))
program_results_table["number_of_students"]= round(100*(program_results_table["number_of_students"]-program_results_table["number_of_students"].min())/(program_results_table["number_of_students"].max()-program_results_table["number_of_students"].min()))

This checks to see if we can successfully identify waitlisted students from their x values

NOTE: Data accuracy is even worse when there is less data for linear regression

In [61]:
x = program_results_table.loc[:,["program","course_code","number_of_students","percentage_international"]]
y = program_results_table["number_of_waitlisted_students"]
y = np.where(y > 0, 1, 0)

xtrain, xtest,ytrain, ytest = train_test_split(x,y,test_size=0.3, random_state=5)
slr = LogisticRegression()
slr.fit(xtrain,ytrain)
print(slr.score(xtest,ytest))

0.9890052356020942

In [62]:
x = program_results_table.loc[:,["number_of_waitlisted_students"]]
y = program_results_table["program"]
y = np.where(y > 0, 1, 0)

xtrain, xtest,ytrain, ytest = train_test_split(x,y,test_size=0.3, random_state=5)
slr = LogisticRegression()
slr.fit(xtrain,ytrain)
print(slr.score(xtest,ytest))

0.912041884816754

In [98]:
x = results_table.loc[:,["semester","min_waitlisted_students"]]
y = results_table["proportional_size"]

xtrain, xtest,ytrain, ytest = train_test_split(x,y,test_size=0.3, random_state=5)
slr = LinearRegression()
slr.fit(xtrain,ytrain)
print(slr.score(xtest,ytest))

0.1467796151761338

In [95]:
x = program_results_table.loc[:,["semester","course_code"]]
y = program_results_table["number_of_students"]

xtrain, xtest,ytrain, ytest = train_test_split(x,y,test_size=0.3, random_state=5)
slr = LinearRegression()
slr.fit(xtrain,ytrain)
print(slr.score(xtest,ytest))

0.14614332615699155

In [101]:
x = program_results_table.loc[:,["program","course_code"]]
y = program_results_table["number_of_students"]
y = np.where(y > 0, 1, 0)

xtrain, xtest,ytrain, ytest = train_test_split(x,y,test_size=0.3, random_state=5)
slr = LogisticRegression()
slr.fit(xtrain,ytrain)
print(slr.score(xtest,ytest))

0.7382198952879581

Here, I tackle class categorization using Random Forest Regression

In [147]:
x = program_results_table.loc[:,["semester","program","course_code"]]
y = program_results_table["number_of_students"]
#y = numpy.where(y > 0, 1, 0)

xtrain, xtest,ytrain, ytest = train_test_split(x,y,test_size=0.3, random_state=5)
rfr = RandomForestRegressor(max_depth=4,n_estimators=25)
rfr.fit(xtrain,ytrain)
#pred_vals = rfr.predict(xtrain)
#print(round(np.mean(abs(pred_vals - ytrain)),2)*100)
pred_vals = rfr.predict(xtest)
#print(accuracy_score(pred_vals, ytest))
print(mean_squared_error(pred_vals,ytest))

47.61738885500118

In [148]:
export_graphviz(rfr.estimators_[3], out_file='TreeReg.dot', feature_names = xtrain.columns)
(grph, ) = pydot.graph_from_dot_file('TreeReg.dot')
grph.write_png('TreeReg.png')

Here, I rexamine Logistic Regression by identifying the different class categorization

In [426]:
program_results_table = program_results_table.loc[:,["program","course_code","sect_id","number_of_students","percentage_international","number_of_waitlisted_students","total_size"]]
program_results_table["class_categorization"] = program_results_table["total_size"]+program_results_table["number_of_waitlisted_students"]-program_results_table["number_of_students"]
program_results_table = program_results_table.loc[:,["program","course_code","sect_id","percentage_international","class_categorization"]]

In [427]:
program_results_table["class_categorization"] = np.where((program_results_table["class_categorization"] > 0), 2, 
                                                         np.where(program_results_table["class_categorization"] == 0,1,0))

In [428]:
x = program_results_table.loc[:,["program","course_code","sect_id","percentage_international"]]
y = program_results_table["class_categorization"]

xtrain, xtest,ytrain, ytest = train_test_split(x,y,test_size=0.3, random_state=5)
slr = LinearRegression()
slr.fit(xtrain,ytrain)
print(slr.score(xtest,ytest))

0.01555352758206463