In [137]:
import sqlite3
import pandas as pd
import os
import copy
pd.options.mode.chained_assignment = None

In [138]:
process_path = os.path.join(os.sep+"home"+os.sep+"jupyter"+os.sep+"Team-Prophecy","Data","02_processed","intermediate.db")
print(process_path)

/home/jupyter/Team-Prophecy/Data/02_processed/intermediate.db

In [139]:
process_connection = sqlite3.connect(process_path)

In [140]:
inputs = {    
    'prog_desc'     : "All",
    'courses'       : "All",
    'mod'           : "F2F",
    'visa'          : "F1 Visa",
    'ExpN_eat'      : 150
}

In [141]:
# Building the model parameters
model_params = {
    'prog_desc'         : inputs['prog_desc'],
    'courses'           : inputs['courses'],
    'mod'               : inputs['mod'],
    'visa'              : inputs['visa'],
    'ExpN_eat'          : inputs['ExpN_eat'],
    'enr_hist'          : 4 if inputs['visa'] == 'F1 Visa' else 8,
    'filters'           : {
        'prog_filter'   : inputs['prog_desc'] != 'All',
        'course_filter' : inputs['courses'] != 'All',
        'visa_filter'   : inputs['visa'] != 'combined'
    },
    'groupby'           : {
        'mod_groupby'   : inputs['mod'] != 'combined'
    }
}

In [142]:
def list_to_str(l):
    """
    Create a string in the format of "('a', 'b', 'c', 'd')" from list ['a', 'b', 'c', 'd']
    """
    return str(tuple(l))

In [143]:
student_stat_query = """
    SELECT rs.reg_term_code, rs.reg_stu_id, crs, rs.sect_id, rs.reg_new_ret_stu, rs.reg_final_status, scoff.cum_seat_total, scoff.cum_seat_enroll, scoff.cum_seat_avail
    FROM registration_status rs
    INNER JOIN (SELECT sc.cum_term, i_n.instr_home_org, sc.cum_instr, sc.cum_term_code, sc.cum_sect_id, 
        sc.cum_seat_enroll+abs(sc.cum_seat_avail)+sc.cum_seat_wait as cum_seat_total,
        IIF(sc.cum_seat_avail < 0, sc.cum_seat_enroll+abs(sc.cum_seat_avail),sc.cum_seat_enroll) as cum_seat_enroll,
        IIF(sc.cum_seat_avail < 0, 0, sc.cum_seat_avail) as cum_seat_avail
    FROM semester_course_offerings sc
    INNER JOIN instructors i_n ON sc.cum_instr == i_n.instr_name) scoff ON 
        scoff.cum_term == rs.reg_term_code
        AND scoff.cum_term_code == rs.crs
        AND scoff.cum_sect_id == rs.sect_id
    WHERE 1=1 
"""
student_details_query = """
    SELECT stu_admit_term_code, stu_college, stu_deg_level, stu_dept, stu_id, stu_res, stu_prog, stu_visa, stu_bam
    FROM student_details 
    WHERE 1=1 
"""

program_course_offerings = """
    SELECT * FROM PROGRAM_COURSE_OFFERINGS 
"""

# Program Filter
if model_params['filters']['prog_filter']:
    student_details_query += f"AND stu_prog = '{model_params['prog_desc']}' "

# Course Filter
if model_params['filters']['course_filter']:
    student_stat_query += f"AND crs IN {list_to_str(model_params['courses'])} "

# Visa Filter
if model_params['filters']['visa_filter']:
    student_details_query += f"AND stu_visa = '{model_params['visa']}' "

In [144]:
student_stat = pd.DataFrame(process_connection.execute(student_stat_query).fetchall(),columns=["reg_term_code", "student_id", "crs", "sect_id", "returning_student", "reg_status",
                                                                                              "cum_total_enrollment","cum_seat_enrollment","cum_seat_available"])

#WHERE reg_final_status IN ('W','R')
#GROUP BY reg_term_code, crs, sect_id, reg_final_status

student_details = pd.DataFrame(process_connection.execute(student_details_query).fetchall(),columns=["reg_term_code","stu_college","stu_deg_level","stu_dept","student_id",
                                                                                                     "stu_res","stu_prog","stu_visa","stu_bam"])

pco_df = pd.DataFrame(process_connection.execute(program_course_offerings),columns=["stu_prog","crs","required"])

total_stat = student_stat.merge(student_details, on=["reg_term_code","student_id"], how="inner").fillna(0)
total_stat = total_stat.merge(pco_df, on=["stu_prog","crs"])

In [145]:
total_stat = total_stat.loc[total_stat["required"] == 1,:]

In [147]:
total_student_population = total_stat[["reg_term_code"]].groupby("reg_term_code").count().reset_index()

In [165]:
reg_term_values = dict(total_stat.groupby(["reg_term_code"])["reg_term_code"].count())

In [242]:
program_limit_values = dict(total_stat.groupby(["stu_prog"])["stu_prog"].count())

In [170]:
total_courses = total_stat[["reg_term_code","stu_prog","crs","sect_id","reg_status","cum_total_enrollment","cum_seat_enrollment","cum_seat_available"]]

REF Courses is just a fancy way of determining how, from a professors point of view, courses are included.

In [114]:
ref_course = total_courses[["reg_term_code","crs","sect_id","cum_total_enrollment","cum_seat_enrollment","cum_seat_available"]]

In [177]:
ref_course.head()

,reg_term_code,crs,sect_id,cum_total_enrollment,cum_seat_enrollment,cum_seat_available
0,202010,CEIE524,001,25,18,7
1,202170,CEIE524,001,18,13,5
2,202170,CEIE524,001,18,13,5
3,202170,CEIE524,001,18,13,5
4,202170,CEIE524,001,18,13,5

In [175]:
registered_courses = total_courses.loc[total_courses["reg_status"] == "R",["reg_term_code","stu_prog","crs","sect_id","reg_status"]].groupby(["reg_term_code","stu_prog","crs","sect_id"]).count().reset_index()
#nonregistered_courses = total_courses.loc[total_courses["reg_status"] != "R",["reg_term_code","stu_prog","crs","sect_id","reg_status"]].groupby(["reg_term_code","stu_prog","crs","sect_id"]).count().reset_index()

In [176]:
required_courses.count()

reg_term_code    178
stu_prog         178
crs              178
sect_id          178
registered       178
dtype: int64

Keep in mind: Our registered values will be dependent on what's in our subset.

In [ ]:
required_courses.head()

  reg_term_code   stu_prog     crs sect_id  registered
0        202010  EC-MS-AIT  AIT524     003           2
1        202010  EC-MS-AIT  AIT542     002           2
2        202010  EC-MS-AIT  AIT602     001           1
3        202010  EC-MS-AIT  AIT673     DL1           1
4        202010  EC-MS-AIT  AIT677     001           3

In [178]:
ref_course.head()

,reg_term_code,crs,sect_id,cum_total_enrollment,cum_seat_enrollment,cum_seat_available
0,202010,CEIE524,001,25,18,7
1,202170,CEIE524,001,18,13,5
2,202170,CEIE524,001,18,13,5
3,202170,CEIE524,001,18,13,5
4,202170,CEIE524,001,18,13,5

In [191]:
req_courses_context = required_courses.merge(ref_course[["reg_term_code", "crs","sect_id", "cum_total_enrollment"]], on=["reg_term_code", "crs","sect_id"], how="inner").drop_duplicates()

In [210]:
req_courses_context.columns

Index(['reg_term_code', 'stu_prog', 'crs', 'sect_id', 'registered',
       'cum_total_enrollment'],
      dtype='object')

In [196]:
req_courses_context.loc[total_courses["cum_total_enrollment"] < total_courses["registered"],["cum_total_enrollment"]]  = total_courses["registered"]

In [204]:
reg_term_courses_context = req_courses_context.groupby(["reg_term_code"])

In [203]:
from ortools.linear_solver import pywraplp

For each semester's influx of students, we want the following:
- How many butts are going to be in a seat for a given course section
- How many butts are going to be waitlisted for a given course section

In [247]:
all_semesters = list(reg_term_values.keys())
#program_limit_values <- included because we need a way to constraint students
all_pcs = list(req_courses_context[["stu_prog","crs","sect_id"]].drop_duplicates().itertuples(index=False,name=None))
all_pcs_dict = {}
pc_dict = {}
cs_dict = {}
for t_pcs in all_pcs:
    if t_pcs[0] not in all_pcs_dict:
        pc_dict[t_pcs[0]] = []
        all_pcs_dict[t_pcs[0]] = {}
    pc_dict[t_pcs[0]].append(t_pcs[1])
    if t_pcs[1] not in all_pcs_dict[t_pcs[0]]:
        cs_dict[t_pcs[1]] = []
        all_pcs_dict[t_pcs[0]][t_pcs[1]] = []
    cs_dict[t_pcs[1]].append(t_pcs[2])
    all_pcs_dict[t_pcs[0]][t_pcs[1]].append(t_pcs[2])

**DECISION VARIABLES**

R = Registered Student

W = Waitlisted Student

A = Whether the student has already registered for the class

S = Whether the student has already registered for the class section

In [246]:
#reg_term_courses_context.get_group("202010")

In [ ]:
for a_sem in all_semesters:
    cxt_grp = reg_term_courses_context.get_group(a_sem)
    #First, we have to get the ratios
    registered_list = cxt_grp["registered"]/reg_term_values[a_sem]
    total_students_list = cxt_grp["cum_total_enrollment"]/reg_term_values[a_sem]
    #Now that we have the ratios, we can begin with the objective function.
    decision_vars = {}
    const_vars = {}
    solver = pywraplp.Solver.CreateSolver('SAT')
    if not solver:
        print("Cannot get solver")
        continue
        
    program_ref = {}
    course_ref = {}
    waitlist_decision_vars = {}
    an_decision_vars = {}
    s_inf = solver.infinity()
    for a_pc in all_pcs:
        for student_id in range(1,reg_term_values[a_sem]):
            #We'll have two primary decision variables: Waitlist and Student
            #This will be a minimization function for our purposes, as we want all students
            # to be included.
            r_name = f"r({a_pc[0]},{a_pc[1]},{a_pc[2]},{student_id},{a_sem})"
            w_name = f"w({a_pc[0]},{a_pc[1]},{a_pc[2]},{student_id},{a_sem})"
            
            a_name = f"a({a_pc[1]},{student_id},{a_sem})"
            s_name = f"s({a_pc[2]},{student_id},{a_sem})"
            decision_vars[r_name] = solver.IntVar(0,s_inf,r_name)
            decision_vars[w_name] = solver.IntVar(0,s_inf,w_name)
            
            decision_vars[a_name] = solver.IntVar(0,1,a_name)
            decision_vars[s_name] = solver.IntVar(0,1,s_name)
            
            if a_pc[0] not in program_ref:
                program_ref[a_pc[0]] = set()
            program_ref[a_pc[0]].append(student_id)
            if a_pc[1] not in course_ref:
                course_ref[a_pc[1]] = {}
            if a_pc[2] not in course_ref[a_pc[1]]:
                course_ref[a_pc[1]] = []
            course_ref[a_pc[1]][a_pc[2]].append(student_id)
        
    #for student_id in range(1,reg_term_values[a_sem]):
    #    solver.Add(solver.Sum([course_ref[] for c in course_ref]) = 1)
    #solver.Minimize(solver.Sum([waitlist_decision_vars[student_id]*an_decision_vars[student_id] 
    #                            for student_id in range(1,reg_term_values[a_sem])]))
    break

**NOW WE CAN GET INTO THE INTERESTING STUFF**

This is for when I have more data; only focusing on what I know for certain given the total number of students available.

In [ ]:
waitlist_courses = total_courses.loc[total_courses["reg_status"] == "W",["reg_term_code","stu_prog","crs","sect_id","reg_status"]].groupby(["reg_term_code","stu_prog","crs","sect_id"]).count().reset_index()
dropped_courses = total_courses.loc[total_courses["reg_status"] == "D",["reg_term_code","stu_prog","crs","sect_id","reg_status"]].groupby(["reg_term_code","stu_prog","crs","sect_id"]).count().reset_index()

In [ ]:
waitlist_courses = waitlist_courses.rename(columns={'reg_status':'waitlist'})
required_courses = required_courses.rename(columns={'reg_status':'registered'})
dropped_courses = dropped_courses.rename(columns={'reg_status':'dropped'})

In [ ]:
total_courses = required_courses.merge(waitlist_courses, on=["reg_term_code", "stu_prog","crs","sect_id"], how="left").fillna(0)
total_courses = total_courses.merge(dropped_courses, on=["reg_term_code", "stu_prog","crs","sect_id"], how="left").fillna(0)